# Lists: Comprehensive View (Master)
## Dr. Siva R Jasthi
CSCI 1101 - Fall 2023

In [ ]:
#@title Python built-in functions vs list methods
# https://www.w3schools.com/python/python_ref_list.asp
# https://itvoyagers.in/wp-content/uploads/2020/09/built-in-functions-itvoyagers.in_.png

nums_list = [1, 3]

# Using the LIST METHODS
nums_list.append(10)   #[1, 3, 10]
nums_list.insert(0, 99) #[99, 1, 3, 10]
nums_list.insert(1, 88) #[99, 88, 1, 3, 10]

# Using the python built-in functions
a = min(nums_list)
b = max(nums_list)
c = sum(nums_list)
d = len(nums_list)
print(nums_list)

[5, 6, 5]
length of the list:  3
[5, 6, 5, 9]
length of the list:  4

* https://www.w3schools.com/python/python_ref_list.asp  (Python List Methods)


* https://www.w3schools.com/python/python_ref_functions.asp (Python Built-in Functions)

In [ ]:
#@title The Zen of Python, by Tim Peters

import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
#@title Lists: An Introduction

#Data Type
#List Type
x = [10, 3, -5, 'hello', True, 3.4]
print("List of elements: ", x)

# what is the data type of x?
print("Data type", type(x))

List of elements:  [10, 3, -5, 'hello', True, 3.4]
Data type <class 'list'>
Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

In [ ]:
#@title directory of list methods



# nums = [4, 5, 6]
# for i in nums:
#   print(i)


list_methods = dir(list)
#print(type(list_methods), list_methods)
# double underscore methods = dunder methods = python uses those internally

for elem in list_methods:
  if '__' not in elem:
    print(elem)

append
clear
copy
count
extend
index
insert
pop
remove
reverse
sort

In [ ]:
nums = [5, 6, 5]
nums.append(9)
nums.clear()
nums.insert(0, 99)
nums.insert(0, 88)
nums.insert(0, 88)
nums.append(88)
x = nums.count(88)

nums.extend([5, 3, -10, "abc"])
print(nums)

y = nums.index(-10)
print(y)

[88, 88, 99, 88, 5, 3, -10, 'abc']
6

In [ ]:
#@title how to get help on a specific method?
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

# Exploring List Methods

In [ ]:
#@title 1.Creating an empty list
x = []
x = list()
print(x)
print("Length of this list: ", len(x))

[]
Length of this list:  0

In [ ]:
#@title 2.Creating a list with some elements
x = [10, 40, 32]
print(x)

[10, 40, 32]

In [ ]:
#@title 3.Appending elements at the end
x = [10, 40, 32]
print(x)
x.append(34)
print(x)
x.append(20)
print(x)
x.append(-10)
print(x)
x.append('bob')
print(x)
#x.append(3,1)

[10, 40, 32]
[10, 40, 32, 34]
[10, 40, 32, 34, 20]
[10, 40, 32, 34, 20, -10]
[10, 40, 32, 34, 20, -10, 'bob']

TypeError: ignored

In [ ]:
#@title 4.Accessing an element (positive index)
# also known as "Reading an element"
# also known as "Setting an element"
x = [10, 40, 32, 34, 20, -10, 'bob']

# Give me 1st element
first = x[0]
print("1st element: ", first)

# Give me 1st element
fourth = x[3]
print("4th element: ", fourth)

1st element:  10
4th element:  34

In [ ]:
#@title 5.Accessing an element (through Negative Indexing)
# also known as "Reading an element"
# also known as "Setting an element"

# 0, 1, 2, 3.... N
# -N, -3, -2, -1
x = [10, 40, 32, 34, 20, -10, 'bob', 10, 40, 32, 34, 20, -10, 'lol', 10, 40, 32, 34, 20, 'cool', 'bff' ]


count = len(x)
last_element = x[count-1]
print('Last element: ', last_element)

# Positive index starts from 0 from the front
# Negative index starts from -1 from the end
last_element = x[-1]
print('Last element: ', last_element)

# What is there in second position from the last
second_from_last = x[-2]
print('second_from_last element: ', second_from_last)

cool

In [ ]:
#@title 6.insert: Adding an element at the front of the list
my_list = [4,3,2]
print(my_list)

# Add 10 at the front
my_list.insert(0, 10)
print(my_list)

# Add 20 at the position 3 of the new list
my_list.insert(2, 20)
print(my_list)


# Add 50 at the end of the list
my_list.append(50)
print(my_list)


print("number of elements: ", len(my_list))

insert_position = 7
my_list.insert(insert_position, 99)
print(my_list)

my_list.insert(-1, 199)
print(my_list)

[4, 3, 2]
[10, 4, 3, 2]
[10, 4, 20, 3, 2]
[10, 4, 20, 3, 2, 50]
number of elements:  6
[10, 4, 20, 3, 2, 50, 99]
[10, 4, 20, 3, 2, 50, 199, 99]

In [ ]:
#@title 7.Adding an element anywhere (at a specific index)
my_list = [4,3,2]
print(my_list)


# Add 20 at the position 3 of the new list
my_list.insert(2, 20)
print(my_list)

[4, 3, 2]
[4, 3, 20, 2]

In [ ]:
#@title 8.Updating (or Replacing) an element
my_list = [4,3,2]
print(my_list)

# Replace the second element with 10
my_list[1] = 10
print(my_list)

# Replace first element with "python"
my_list[0] = 'python'
print(my_list)

[4, 3, 2]
[4, 10, 2]
['python', 10, 2]

In [ ]:
#@title 9.Removing an element by value
my_list = [6,7,3,4]
my_list.remove(6)
print('1--', my_list)

my_list = [6,7,3,7,4]
print('2--', my_list)
my_list.remove(7)
print('3--', my_list)

my_list.append(6)
my_list.remove(6)
my_list.remove(6)
my_list.remove(6)
my_list

1-- [7, 3, 4]
2-- [6, 7, 3, 7, 4]
3-- [6, 3, 7, 4]

ValueError: ignored

In [ ]:
#@title 10.Removing the last element in the list

#help(list.pop)

my_list = [6,7,3,7,4]
my_list.pop()
print(my_list)

[6, 7, 3, 7]

In [ ]:
#@title 11.Removing an element at a given index
my_list = [6,7,3,7,4]
x = my_list.pop(0)
print(my_list)
print(x)


# CRUD - Create, Add, Copy, Construct, Define
        # Read, Query, Find, Search
        # Update, Modify, Change
        # Delete or Clear or Remove

[7, 3, 7, 4]
6

In [ ]:
#@title 12.Extending a list
#(Adding several elements to one list)
my_list = [1, 2, 3]
your_list = [4,99, 23]
print('before extending: ', my_list)
my_list.extend(your_list)
print('after extending: ', my_list)

print('before extending: ', your_list)
your_list.extend(my_list)
print('after extending: ', your_list)

print('before extending: ', my_list)
my_list.extend(my_list)
print('after extending: ', my_list)

before extending:  [4, 99, 23]
after extending:  [4, 99, 23, 1, 2, 3]
before extending:  [1, 2, 3]
after extending:  [1, 2, 3, 1, 2, 3]

In [ ]:
#@title 13.Search for an element. What is the index?
#help(list.index)
my_list = [1, 2, 3]
your_list = [4,99, 23]
my_list.extend(your_list)
print(my_list)

x = my_list.index(99)
print('index of 99', x)


# You can not search for an element that is not there
# x = my_list.index(100)
# print('index of 100', x)

[1, 2, 3, 4, 99, 23]
index of 99 4

In [ ]:
#@title 14.Count the number of times an element is appearing

#help(list.count)

# this is using the list method (this is the winner)
my_list = [1, 99, 2, 99, 3, 4, 99, 23]

count_99 = my_list.count(99)
print("count of 99 in the list: ", count_99)

# this is using the loop (you use this if you forget that there is already a method called count( ) in list)
counter = 0
for elem in my_list:
  if elem == 99:
    counter = counter + 1

print("count of 99 in the list: ", counter)

count of 99 in the list:  3
count of 99 in the list:  3

In [ ]:
#@title 15.Checking for Membership (in)
my_list = [1, 2, 3, 4, 99, 23]

print('is 99 in the list: ', (99 in my_list) )
print('is 100 in the list: ', (100 in my_list) )

element_to_find = 123
element_exists = element_to_find in my_list
if (element_exists == True):
  current_index = my_list.index(element_to_find)
  print("Your element ", element_to_find, "sits at", current_index)
else:
  print("your element is not there in the list")

is 99 in the list:  True
is 100 in the list:  False
your element is not there in the list

In [ ]:
#@title 16.Checking for Membership (not in)
# in = positive check
# not in = inverse check

my_list = [1, 2, 3, 100, 4, 99, 23]

print('is 99 not in the list: ', (99 not in my_list) )
print('is 100 not in the list: ', (100 not in my_list) )

if (99 in my_list) :
  if (100 in my_list):
    print('both 99 and 100 exist in the list')
  else:
    print('only 99 exists in the list')

if (99 in my_list) and (100 in my_list):
    print('both 99 and 100 exist in the list')
else:
    print('Both do not existin the list')

is 99 not in the list:  False
is 100 not in the list:  False
both 99 and 100 exist in the list
both 99 and 100 exist in the list

In [ ]:
#@title 17.Reverse a list
#help(list.reverse)

my_list = [1, 2, 3, 100, 4, 99, 23]

print('before reversing: ', my_list)
my_list.reverse()
print('after reversing: ', my_list)

Help on method_descriptor:

reverse(self, /)
    Reverse *IN PLACE*.

before reversing:  [1, 2, 3, 100, 4, 99, 23]
after reversing:  [23, 99, 4, 100, 3, 2, 1]

In [ ]:
#@title 18.Sort a list
my_list = [1, 2, 3, 100, 4, 99, 23]

print('before sorting: ', my_list)
#my_list.sort(reverse = False)  # No need to specify this explicitly because reverse = False is the default, and hence it is optional
my_list.sort()
print('after sorting (default sort order is ascending): ', my_list)
my_list.sort(reverse = True)
print('after sorting (reversing the sort order): ', my_list)

before sorting:  [1, 2, 3, 100, 4, 99, 23]
after sorting (default sort order is ascending):  [1, 2, 3, 4, 23, 99, 100]
after sorting (reversing the sort order):  [100, 99, 23, 4, 3, 2, 1]

In [ ]:
#@title 19.Clear (Empty) a list
#Delete all the elements in the list
my_list = [1, 2, 3, 100, 4, 99, 23]

print('before clearing: ', my_list)
print('length of my_list: ', len(my_list))
my_list.clear()
print('after clearing: ', my_list)
print('length of my_list: ', len(my_list))

before clearing:  [1, 2, 3, 100, 4, 99, 23]
length of my_list:  7
after clearing:  []
length of my_list:  0

In [ ]:
#@title 20.Delete the entire list
my_list = [1, 2, 3, 100, 4, 99, 23]
print('before deleting: ', my_list)
del my_list
#print('after deleting: ', my_list)

before deleting:  [1, 2, 3, 100, 4, 99, 23]

NameError: ignored

In [ ]:
#@title 21.Cool Tip: Adding two lists using + sign
my_list = [1, 2, 3]
your_list = [4, 99, 23]

our_list = my_list + your_list

print('my_list: ', my_list)
print('your_list: ', your_list)
print('our_list: ', our_list)

my_list:  [1, 2, 3]
your_list:  [4, 99, 23]
our_list:  [1, 2, 3, 4, 99, 23]

In [ ]:
#@title 22.Cool Tip: List Replication using * sign
import random

gym_days = [0] * 365
print(len(gym_days), gym_days)

for i in range(365):
  x = random.random()
  if (x > 0.5):
    gym_days[i] = 1

print('# after traversing the list and randomizing some values')
print(len(gym_days), gym_days)

# number of days you went to gym in a given year
count_of_ones = gym_days.count(1)
print('Number of gym days: ', count_of_ones)

In [ ]:
#@title 23.Cool Tip: You can multiply/repeat a list
my_list = [1, 2, 3]
new_list = my_list * 5

print("my_list " , my_list)
print("my_list * 5" , new_list)

print([False] * 100)

In [ ]:
#@title 24.Cool Tip: Converting a range to a list
x = range(25, 1001, 25)
print(type(x), '-->', x)

for i in x:
  print(i)

# list_x = list(x)
# print(type(list_x), '-->', list_x)

#List Traversals (for loop on lists)

In [ ]:
#@title 1.Revisiting the range function
# range(stop)  # 0 to till stop (stop is not included)
# range(start, stop)
# range(start, stop, step)

print('# range(stop)  # 0 to till stop (stop is not included)')
for x in range(10):
    print(x, end = ' ')


print('print from 10 20')
for x in range(10, 21):
    print(x, end = ' ')


print('all even numbers from 1 to 100')
for x in range(2, 101, 2):
    print(x, end = ' ')

In [ ]:
my_list = [3, 4, 9, 23]

# method 1: YOu care about only values
print('we care about only values')
for item in my_list:
  print(item, end=' ')

# method 2: You can about the index
print('we care about indexes as well')
count = len(my_list)
for i in range(count):
  current_value = my_list[i]
  print("index: ", i, "value: ", current_value)

# method 3
print('we care about both indexes and values at the same time')
for index, value in enumerate(my_list):
   print("index: ", index, "value: ", value)

we care about only values
3 4 9 23 we care about indexes as well
index:  0 value:  3
index:  1 value:  4
index:  2 value:  9
index:  3 value:  23
we care about both indexes and values at the same time
index:  0 value:  3
index:  1 value:  4
index:  2 value:  9
index:  3 value:  23

In [ ]:
#@title 2.Looping through the list (just for READING) (Get the VALUES)

# print every element in the list on a separate line
my_list = [3, 4, 2, 2, 4]

for elem in my_list:
  print(elem)

# find sum using the loop
my_list = [3, 4, 2, 2, 4]

total = 0
for x in my_list:
  total = total + x
print("total of the list: ", total)

# find the sum using the built-in function
total = sum(my_list)
print("total of the list: ", total)

3
4
2
2
4
total of the list:  15
total of the list:  15

In [ ]:
#@title 3.Looping through the list (for UPDATING) (Get the INDEX)

# Update every element of the list by adding number 10 to it

my_list = [5,6,3,4]
print(my_list)

length = len(my_list)

for index in range(length):
  current_element = my_list[index]
  # print(current_element)
  my_list[index] = current_element + 10

print(my_list)

[5, 6, 3, 4]
[15, 16, 13, 14]

In [ ]:
#@title 4.Looping through the list through ENUMERATION (Get both index and value)

my_list = [5,6,3,4]
print(my_list)

for index, value in enumerate(my_list):
  print(index, "-->", value)

[5, 6, 3, 4]
0 --> 5
1 --> 6
2 --> 3
3 --> 4

In [ ]:
#@title 5.List Traversal: Summary (elem, index, enumerate)
nums = [10, 90, 4, 4, 56]

print("print only the values")
for elem in nums:
    print(elem)

print("\nprint only even numbers")
for elem in nums:
    if elem % 2 == 0:
        print(elem)

print("\nprint only even indexes")
for index in range(len(nums)):
    if index %2 == 0:
        print(index)

print("\n\nprint the index ===> number  (brute force)")
for index in range(len(nums)):
    elem = nums[index]
    print(index, elem, sep='=====>')
    #print(index, '======>', elem)


print("\n\nprint the index ===> number  (enumerate)")
for index, elem in enumerate(nums):
    print(index, elem, sep='=====>')

#Common Operations on Lists: Brute-Force (Looping)

In [ ]:
#@title 1.Common Operations: Find the length of the list (Brute-force approach)
# Find the number of elements in the list
my_list = [4,3,2]
my_list.append(10)
my_list.remove(4)

counter = 0
for elem in my_list:
  counter = counter + 1

print("length of the list: ", counter)

length of the list:  12

In [ ]:
#@title 2.Common Operations: Find the maximum in the list (Through looping)
my_list = [4,13,2, 4,3,2, 4,23,2, 4,3,2]
my_list.append(10)
my_list.remove(4)

max = my_list[0]
for elem in my_list:
  if (elem > max):
    max = elem

print("max of the list: ", max)

max of the list:  23

In [ ]:
#@title 3.Common Operations: Find the minimum in the list (Through looping)
my_list = [4,13,2, -4,3,2, 4,23,2, 4,3,2]
my_list.append(10)
my_list.remove(4)

min = my_list[0]
for elem in my_list:
  if (elem < min):
    min = elem

print("min of the list: ", min)

min of the list:  -4

In [ ]:
#@title 4.Common Operations: Find the sum of elements in the list (Through looping)
my_list = [4, 3, 2, 4, 3, 2, 4,3,2, 4,3,2]
my_list.append(10)
my_list.remove(4)


# traversal = iteration = visiting (action)
# list = sequence = 'iterable'
sum = 0
for x in my_list:
  sum = sum + x

print("sum of the list: ", sum)

sum of the list:  42

In [ ]:
#@title 5.Common Operations: Find the average of the list (Through looping)
my_list = [4, 3, 2, 4, 3, 2, 4,3,2, 4,3,2]
my_list.append(10)
my_list.remove(4)


# traversal = iteration = visiting (action)
# list = sequence = 'iterable'
sum = 0
count = 0
for x in my_list:
  sum = sum + x
  count = count + 1

print("sum of the list: ", sum)
print("Number of elements in the list: ", count)
print("Average of the list: ", sum/count)

sum of the list:  42
Number of elements in the list:  12
Average of the list:  3.5

In [ ]:
#@title 6.1.Common Operations: Does this list contain any duplicate?

# Traverse the list. Find the count of each element. The moment count is > 1, we know that the list has duplicates
my_list = [1,2,3,6,7,8, 1, 77,88, 3, 99]

duplicate_list = False
for elem in my_list:
  elem_count = my_list.count(elem)
  if elem_count > 1:
    duplicate_list = True
    break


print('Does the list contain duplicates?: ', duplicate_list)

In [ ]:
#@title 6.2.Common Operations: Does this list contain any duplicate?

'''
THis method returns True if the input_list contains any duplicates
Otherwise, it returns False
'''

def containsDuplicates(input_list):
  tracker = False
  for x in input_list:
    if input_list.count(x) > 1:
      tracker = True
      break

  return tracker

# testing
my_list_1 = [1,2,3]
x = containsDuplicates(my_list_1)
print(x)

my_list = [1, 2, 3, 2]
x = containsDuplicates(my_list)
print(x)

False
True

In [ ]:
#@title 7.Common Operations: Multiply / Divide / Do something to every element in the list
# List Comprehension
# map
# Parking Lot

#Common Operations: Using Built-in Functions (Right approach)

In [ ]:
#@title 1.Common Operations: Find the length (Using Built-in Function)
my_list = [4,3,2, 4,3,2, 4,3,2, 4,3,2]
my_list.append(10)
my_list.remove(4)

print("length of the list: ", len(my_list))

length of the list:  12

In [ ]:
#@title 2.Common Operations: Find the maximum in the list (Using Built-in Function)
my_list = [4,3,2, 4,13,2, 4,3,2, 4,3,2]
my_list.append(10)
my_list.remove(4)

print("length of the list: ", max(my_list))

length of the list:  13

In [ ]:
#@title 3.Common Operations: Find the minimum in the list (Using Built-in Function)
my_list = [4,-3,2, 4,13,2, 4,3,2, 0,3,2]
my_list.append(10)
my_list.remove(4)

print("length of the list: ", min(my_list))

length of the list:  -3

In [ ]:
#@title 4.Common Operations: Find the sum of elements in the list (Using Built-in Function)
my_list = [4,3,2, 4,13,2, 4,3,2, 0,3,2]
my_list.append(10)
my_list.remove(4)

print("length of the list: ", sum(my_list))

length of the list:  48

In [ ]:
#@title 5.Common Operations: Find the average of elements in the list (Using Built-in Function)
my_list = [4,3,2, 4,13,2, 4,3,2, 0,3,2]
my_list.append(10)
my_list.remove(4)

average = sum(my_list) / len(my_list)
print("length of the list: ", average)

length of the list:  4.0

Does the list contain duplicates?:  True

#List: Shallow copy vs Deep copy

In [ ]:
#@title 28.Copy a list (Caution: Don't reassign)
# Option 1: Two explicit lists
# list_A = [1,2,3]
# list_B = [1,2,3]
# list_B.append(4)

# Option 2: Copy the list_A to create list_B
# list_A = [1,2,3]
# list_B = list_A.copy()
# list_B.append(5)

# Option 3: Let us do reassignment as we did for the integers
list_A = [1, 2, 3]
list_B = list_A.copy()

list_A1 = [1, 2, 3]
list_B1 = list_A1

print('list A1 before appending: ', list_A1)
print('list B1 before appending: ', list_B1)
list_B1.append(5)
print('list A1 after appending through B1: ', list_A1)
print('list B1 after appending: ', list_B1)

# Some background: analogy with simple integers
#Option 1: for integers
# x = 10
# y = 10
# y = 25

#Option 2: for integers
# x = 13
# y = x
# y = 25

# Map, Filter Reduce

In [ ]:
#@title Map, Filter, Reduce: Examples

names = ['abe', 'barb', 'christina', 'david', 'ethan']

# Example of mapping
names_len = []
for elem in names:
  names_len.append(len(elem))
print(names_len)

# Anothe rexample of mapping
name_upper = []
for elem in names:
  name_upper.append(elem.upper())
print(name_upper)


# Example of Reduce
# How many items are there in the list?
# What is the longest name?
longest_name = ''
for elem in names:
  if len(elem) > len(longest_name):
    longest_name = elem

# REDUCE a list to a single value
# finding the max
# finding the min
# finding the length
# finding the sum
# finding the average

my_list = [3, 4, 5, 6, 89]

x = sum(my_list)
print(x)

avg = sum(my_list) / len(my_list)



# Example of Filter
# Drop all the names if the length < 5
filtered_names = [ ]
for elem in names:
  if len(elem) < 5:
    continue
  filtered_names.append(elem)


# Print all the values
print('Original List: ', names)
print('Map:  List: ', names_len)
print('Filter: List: ', filtered_names)
print('Reduce: Longest Name: ', longest_name)

[4, 5, 6, 9, 99]

365 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
# after traversing the list and randomizing some values
365 [1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0]
Number of gym days:  170
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

# Lists and Strings

In [ ]:
#@title Strings are lists (subscript)

str_1 = "python"
list_1 = ['p', 'y', 't', 'h', 'o', 'n']

print(str_1[0])
print(list_1[3])


name = 'PYTHON'
# char_list = ['P', 'Y', 'T', 'H', 'O', 'N']

# You can use subscript notation

print(name)
print("length of the string: ", len(name))
print("minimum of the string: ", min(name))
print("minimum of the string: ", max(name))

for char in name:
  print(char)

PYTHON
length of the string:  6
minimum of the string:  H
minimum of the string:  Y
P
Y
T
H
O
N

In [ ]:
#@title Strings and character index
name = "Python101"  # ['P', 'y', 't', 'h', 'o', 'n', '1', '0', '1']
x = name.index('y')
y = name.index('1')
print(x)
print(y)

1
6

In [ ]:
#@title empty space is also a character
str_1 = ""
print(len(str_1))

str_2 ="  "
print(len(str_2))

0
2

In [ ]:
#@title Strings are homogeneous; Lists can be heterogeneous
name = "programming"
list_1 = [3, 4.5, True, "hello", [5, 6], None]

print(type(name[2]) )
print(type(list_1[2]) )

<class 'str'>
<class 'bool'>

In [ ]:
#@title Strings are lists (with the index)

name = 'Python'

for char in name:
  index_of_char = name.index(char)
  print(index_of_char + 1, '-->', char)

1 --> P
2 --> y
3 --> t
4 --> h
5 --> o
6 --> n

In [ ]:
#@title Using the built-in functions on the lists (example 1)
course = "python"
# Imagine this as a list
# ['p', 'y', 't', 'h', 'o', 'n']
for elem in course:
    print(elem)


print("word length:", len(course))
print("min of word:", min(course))
print("max of word:", max(course))

In [ ]:
#@title Using the built-in functions on the lists (example 2)
names = ['zack', 'peter', 'anna', 'bindu', 'christy', 'diana']
print("list length:", len(course))
print("min of list:", min(course))
print("max of list:", max(course))

In [ ]:
#@title Membership Operator
greeting = "Hello! How are you?"

if "Hello" in greeting:
  print(100)
else:
  print(200)

if "Hi" in greeting:
  print(99)
else:
  print(88)

if "How" not in greeting:
  print(77)
else:
  print(66)

100
88
66

In [ ]:
#@title String Split
marks_str = '10, 10, 8, 0, 8, 9, 7, 0, 8, 6'
# How many assignments are there?
# What is the maximum marks the student got?
# what is the total marks?
# What is the average?
# How many times the student got the maximum marks?
# How many times the student got the minimum marks?

marks_list = marks_str.split(',')

print(type(marks_str), marks_str)
print(type(marks_list), marks_list)


marks_list_ints = []
for score in marks_list:
  score_int = int(score)
  marks_list_ints.append(score_int)

print(type(marks_list_ints), marks_list_ints)


# How many assignments are there?
print("# How many assignments are there? ", len(marks_list_ints))

# What is the maximum marks the student got?
print("# What is the maximum marks the student got? ", max(marks_list_ints))

# what is the total marks?
print("# What is the total marks? ", sum(marks_list_ints))

# What is the average?
print("# What is the average? ", sum(marks_list_ints) / len(marks_list_ints))


# How many times the student got the maximum marks?
max_marks = max(marks_list_ints)
count_of_max_marks = marks_list_ints.count(max_marks)
print("# How many times the student got the maximum marks? ", count_of_max_marks)

# How many times the student got the minimum marks?
min_marks = min(marks_list_ints)
count_of_min_marks = marks_list_ints.count(min_marks)

print("# How many times the student got the minimum marks? ", count_of_min_marks)

<class 'str'> 10, 10, 8, 0, 8, 9, 7, 0, 8, 6
<class 'list'> ['10', ' 10', ' 8', ' 0', ' 8', ' 9', ' 7', ' 0', ' 8', ' 6']
<class 'list'> [10, 10, 8, 0, 8, 9, 7, 0, 8, 6]

In [ ]:
#@title String split: another example
student_record = "Dhruvan Talapaneni, dhruvan@yahoo.com, 10, 10, 10, 9, 10"

# What is the last name of the student?
token_list = student_record.split()
print("All tokens: ", token_list)
last_name_with_comma = token_list[1]
print("Last name with comma: ", token_list[1])

new_token_list = last_name_with_comma.split(',')
last_name = new_token_list[0]
print("Last name without comma: ", last_name)


# What is the email system Dhurvan is using?
email_system = student_record.split('@')[1].split('.')[0]
print("Email the student is using: ", email_system)

All tokens:  ['Dhruvan', 'Talapaneni,', 'dhruvan@yahoo.com,', '10,', '10,', '10,', '9,', '10']
Last name with comma:  Talapaneni,
Last name without comma:  Talapaneni

In [ ]:
#@title Strings and New Line Character
greeting = "Hello! How are you?"
print(greeting)

greeting1 = "Hello! \n How are you?"
print(greeting1)

state = "MN"
print(len(state))

state = "TX\n"
print(len(state))

Hello! How are you?
Hello!
 How are you?
2
3

In [ ]:
#@title String slicing (TBD)
# WWPD problems
# What would Python Display
str_1 = "program"

# start:stop:step
# 0:end:1 (defaults)
# start from start; don't touch stop; Assume the defaults if those are missing

# What are the values of these strings?
str_2 = str_1[2:4]
str_3 = str_1[2:6]
str_4 = str_1[1:7]
str_5 = str_1[:3]
str_6 = str_1[4:]
str_7 = str_1[0:6:2]
str_8 = str_1[:7:3]
str_9 = str_1[-1:-5:-1]
str_10 = str_1[-1:-8:-2]
str_11 = str_1[-3:-7:-1]
str_12 = str_1[:]
str_13 = str_1[::-1]
str_14 = str_1[::2]
str_15 = str_1[-4:-5:-1]
str_15 = str_1[-4:-4]

In [ ]:
#@title Strings are immutable; Lists are mutable
# change the list
nums = [3, 5, 6, 2]
print("original", nums)
nums[1] = 99
print("updated", nums)

# changing the string
name = "java"
# name[0] = "k"
# print(name)

new_name = "k" + name[1:]
print(new_name)

original [3, 5, 6, 2]
updated [3, 99, 6, 2]
kava

In [ ]:
#@title Cool Tip: Adding two strings using + sign
nums_1 = [3, 5, 6, 2]
nums_2 = [15, 16, 22]
print(nums_1 + nums_2)

my_str = "Hello!"
your_str = "How are you?"
our_str = my_str + " " + your_str
print(my_str)
print(your_str)
print(our_str)

[3, 5, 6, 2, 15, 16, 22]
Hello!
How are you?
Hello! How are you?

# List Unpacking

In [ ]:
#@title 41.List Unpacking (N to N mapping)

# case 1
my_list = [5, 6, 3, 9]
print('original list: ', my_list)


a, b, c, d = my_list
print('unpacked items: ', a, b, c, d)


# case 2 - Too many values to unpack
# p, q = my_list
# print(p,q)


# case 3
p, *q = my_list
print(p, q)


# case 4  - Not enough values to unpack
#a, b, c, d, e = my_list


# case 5
my_list = [5, 6, 3, 9, 87, 56, 45, 34, 23]
x, *y, z = my_list
print(x, y, z)

original list:  [5, 6, 3, 9]
unpacked items:  5 6 3 9
5 [6, 3, 9]

ValueError: too many values to unpack (expected 3)

In [ ]:
#@title 42.List Unpacking (N to <N mapping)
my_list = [5, 3, 9, 89, 7, 5, 9, 34, 25, 10]
x, y, *z = my_list
print(x, y, z)


my_list = [5, 3, 9, 89, 7, 5, 9, 34, 25, 10]
x, *y, z = my_list
print(x, y, z)
print(x, *y, z)

# print(y[0])
# x,y,*z = my_list
# print(y)
# print(my_list[1])
# print(my_list[-9])

5 3 [9, 89, 7, 5, 9, 34, 25, 10]
5 [3, 9, 89, 7, 5, 9, 34, 25] 10
5 3 9 89 7 5 9 34 25 10

In [ ]:
#@title 43. Five ways of printing a List (*)
my_list = [5, 3, 9, 89, 7, 5, 9, 34, 25, 10]

print(my_list)

print(*my_list)

for elem in my_list:
  print(elem)


for elem in my_list:
  print(elem, end=' ')

print()
print(*my_list, sep = ', ')

[5, 3, 9, 89, 7, 5, 9, 34, 25, 10]
5 3 9 89 7 5 9 34 25 10
5
3
9
89
7
5
9
34
25
10
5 3 9 89 7 5 9 34 25 10
5, 3, 9, 89, 7, 5, 9, 34, 25, 10

# List Slicing

In [ ]:
#@title Lists: Slicing (Example Set 1)
#    0  1  2   3  4  5  6
x = [5, 3, 9, 89, 7, 5, 9]
#   -7 -6 -5  -4  -3 -2 -1

# syntax for slicing: start : stop : step
# defaults are:          0 : last element : 1

a = x[1:4]
b = x[4:6]
c = x[3:-2]
d = x[-4:-1]

e = x[0:7]
f = x[0:7:1]
g = x[0:7:2]
h = x[1:6:2]
i = x[0:7:3]

j = x[-1: -4: -1]
h = x[6::-1]

k = x[:4]
l = x[4:]
m = x[:]
n = x[::2]

o = x[::-1]

[34, 25, 10]

In [ ]:
#@title Lists: Slicing (Example Set 2)
#          0    1    2    3    4    5    6
list_1 = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
#         -7    -6   -5  -4   -3   -2   -1

# start:stop:step
# 0:end:1 (defaults)
# start from start; don't touch stop; Assume the defaults if those are missing

list_2 = list_1[2:4]  # c, d
list_3 = list_1[2:6]  # c, d, e, f
list_4 = list_1[1:7]  # b, c, d, e, f, g
list_5 = list_1[:3]  # a, b, c
list_6 = list_1[4:]  # e, f, g
list_7 = list_1[0:6:2]  #  a, c, e
list_8 = list_1[:7:3]   #  a, d, g
list_9 = list_1[-1:-5:-1]  # g, f, e, d
list_10 = list_1[-1:-8:-2]  # -1, -3, -5, -7
                             # g, e, c, a
list_11 = list_1[-3:-7:-1] # e, d, c, b,
list_12 = list_1[:]     # ['a', 'b', 'c', 'd', 'e', 'f', 'g']
list_13 = list_1[::-1]

list_14 = list_1[::2] # a, c, e, g
list_15 = list_1[-4:-5:-1] # [d]
list_15 = list_1[-4:-4] # []

a1 = list_1[1:2] + list_1[2:5]
a2 =  list_1[2:5] + list_1[1:4]

In [ ]:
#@title List Slicing (Example Set 3)
# L to R: 0    1    2    3    4    5    6    7
chars = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
# R to L  -8   -7  -6   -5    -4  -3   -2   -1

#slicing: [start : stop : step]
#defaults: [0  : end of the list : 1]

# 1. where do I start? 2. where do I stop? (you can not touch the end)
# 3. how many steps am i taking?

list_1 = chars[1:4]  # B, C, D
list_2 = chars[:3]   # A, B, C
list_3 = chars[4:7]  # E F G
list_4 = chars[4:8]  # E F G H
list_5 = chars[3:]   # D E F G H
list_6 = chars[4:-1]  #E F G
list_7 = chars[-5:-2] #D E F
list_8 = chars[1:7:2]  #B, D, F
list_9 = chars[1::2]  # B D F H
list_10 = chars[::3]  # A D G
list_11 = chars[-1:-4]  # []
list_12 = chars[-1:-4:-1]  # H G F
list_13 = chars[:]  #['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
list_14 = chars[::-1]

In [ ]:
#@title 45.Lists with items of different data types.
person = ['bob', 30, 'bob@yahoo.com', 100.50, 'USA', True]
print(person)

person = ['bob', 30, 'bob@yahoo.com', 100.50, 'USA', True, ['reading', 'trekking', 'ethnic foods'], ('pluto', 'nova')]
print(person)

#what is the first hobby of bob?
print('First hobby of bob: ', person[6][0])
print('Second pet of bob: ', person[7][1])
print('Second pet of bob: ', person[-1][1])

['bob', 30, 'bob@yahoo.com', 100.5, 'USA', True]
['bob', 30, 'bob@yahoo.com', 100.5, 'USA', True, ['reading', 'trekking', 'ethnic foods'], ('pluto', 'nova')]
First hobby of bob:  reading
Second pet of bob:  nova
Second pet of bob:  nova

In [ ]:
person = ['bob', 30, 'bob@yahoo.com', 100.50, 'USA', True, ['reading', 'trekking', 'ethnic foods'], ('pluto', 'nova')]
print(person)

x = person[7]
print(x)
print(x[1])

print(person[7][1])

['bob', 30, 'bob@yahoo.com', 100.5, 'USA', True, ['reading', 'trekking', 'ethnic foods'], ('pluto', 'nova')]
('pluto', 'nova')
nova
nova

# List Comprehension

In [ ]:
#@title Example sets for List Comprehension
# sequence = list = iterable = string = tuple = set = dictionary

# Example Set 1
nums = [1, 2, 3]
list_0 = [x for x in nums] # [1, 2, 3] ==>  [1, 2, 3]
list_1 = [x+1 for x in nums] # [1, 2, 3] ==> [2, 3, 4]
list_2 = [i+1 for i in nums] #[1, 2, 3] ==> [2, 3, 4]
list_3 = [y+2 for y in nums]  # [1, 2, 3] ==> [3, 4, 5]
list_4 = [x * 2 for x in nums]  # [1, 2, 3] ==> [2, 4, 6]
list_5 = [x ** 2 for x in nums] #[1, 2, 3] ==> [1, 4, 9]
list_6 = [sum(nums) for x in nums]  #[1, 2, 3] ==> [6, 6, 6]


# Example Set 2
name = 'python'
list_7 = [x for x in name]  #['p', 'y', 't', 'h', 'o', 'n']
print(name)  # ptyhon
print(list_7) # ['p', 'y', 't', 'h', 'o', 'n']
print(type(name)) # string
print(type(list_7)) # list
print(list_7[1])  #p
print(list_7[-1])  # n
print(type(list_7[1]))  #string


# Example Set 3
name = 'programming'
list_8 = [x for x in name if x in 'aeiou']
print(list_8)

list_9 = [x for x in name if x not in 'aeiou']
print(list_9)

list_10 = [ch for ch in name if name.count(ch) > 1]
print(list_10)

list_11 = [ch for ch in name if name.count(ch) == 1]
print(list_11)

In [ ]:
#@title 46.1. Filtering without the List Comprehension
#Create a new list of only EVEN numbers  (Filter)
my_list = [5, 6, 7, 3, 5, 2, 8, 12]

new_list3 = []

for item in my_list:
    if (item % 2 == 0):
        new_list3.append(item)

print(new_list3)

[6, 2, 8, 12]

In [ ]:
#@title 46.2. Filtering with the List Comprehension
# Use the list comprehension
my_list = [5, 6, 7, 3, 5, 2, 8, 12]
# new_list = [x+1 for x in my_list]
# print(my_list)
# print(new_list)

new_list4 = [x for x in my_list if (x % 2 == 0) ]
print(new_list4)

[6, 2, 8, 12]

In [ ]:
#@title 47. List Comprehension: Filtering
# Extracting consonants from a string using LIST Comprehension
str = 'programming'
y = [x for x in str if x not in 'aeiou']
print(str)
print(y)
print(''.join(y))

programming
['p', 'r', 'g', 'r', 'm', 'm', 'n', 'g']
prgrmmng

In [ ]:
str = 'programming'
y = [x for x in str if x in 'aeiou']
print(str)
print(y)
print(''.join(y))

programming
['o', 'a', 'i']
oai

In [ ]:
#@title List Comprehension (Mapping): Squaring Numbers
numbers = [1, 2, 3, 4, 5]
squared_numbers = [num ** 2 for num in numbers]
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [ ]:
#@title List Comprehenson: Unique File Extensions
filenames = ["script.py", "image.jpg", "document.pdf", "data.csv", "names.csv", "registrations.csv"]
extensions = [name.split(".")[1] for name in filenames]
print(extensions)

# dropping the duplicate values from the list
unique_extensions = []
for elem in extensions:
  if elem not in unique_extensions:
    unique_extensions.append(elem)

print(unique_extensions)

# dropping the duplicate values from the list (using set)
print(set(extensions))

['py', 'jpg', 'pdf', 'csv', 'csv', 'csv']
['py', 'jpg', 'pdf', 'csv']
{'jpg', 'csv', 'py', 'pdf'}

In [ ]:
#@title List Comprehension using if .. else  (Mapping)
my_list = [5, 6, 7, 3, 5, 2, 8]

# if even number, make it odd by adding 1
# if odd number, make it even by subtracting 1

new_list = [x+1 if x % 2 == 0 else x - 1 for x in my_list]
print(new_list)

[4, 7, 6, 2, 4, 3, 9]

['p', 'y', 't', 'h', 'o', 'n']
y

# Mixed Lists (heterogeneous Lists)

In [ ]:
#@title Mixed List: An example
nums = [3, 4, 5, 3]
chars = ['a', 'z', 'x']
names = ["python", 'java', 'javascript', 'php']

student = ['Anna', 15, True, 3.94]
print(student)

print('Name of the student: ', student[0])
print('GPA of the student: ', student[3])

['Srikar', 15, True, 3.94]
Name of the student:  Srikar
GPA of the student:  3.94

In [ ]:
#@title Mixed List: Another example (List inside a list)
hobbies = ['reading', 'trekking', 'ethnic foods']
pets = ['pluto', 'nova']

student = ['Anna', 15, True, 3.94, hobbies, pets]
print(student)

student= ['Anna', 15, True, 3.94, ['reading', 'trekking', 'ethnic foods'], ['pluto', 'nova']]
print(student)

# Nested Lists
https://www.learnbyexample.org/python-nested-list/

In [ ]:
#@title Simple Nested List

# analogy: bookcase
#          [single book, box of books, single book]
nested_x = ['a', ['b', 'c'], 'x']

print("Date type of nested_x:", type(nested_x))
print("Length of the list: :", len(nested_x))

print('1st element: ', nested_x[0])
print('2nd element: ', nested_x[1])

# Book Case
book_case = ['python', 'maths', ["Hunger Games 1", "Hunger Games 2", "Hunger Games 3"], "science", ["Harry Potter 1", "Harry Potter 2", "Harry Potter 3"]]
print(book_case)
print(book_case[2])

Date type of nested_x: <class 'list'>
Length of the list: : 3
1st element:  a
2nd element:  ['b', 'c']
['python', 'maths', ['Hunger Games 1', 'Hunger Games 2', 'Hunger Games 3'], 'science', ['Harry Potter 1', 'Harry Potter 2', 'Harry Potter 3']]
['Hunger Games 1', 'Hunger Games 2', 'Hunger Games 3']

In [ ]:
#@title Complex Nested List

nested_x = ['a', ['bb', ['cxt', ['xy', 'xz']], 'ee', 'ff'], 'g', 'h']

#nested_x = ['a', 'b']


print("Date type of nested_x:", type(nested_x))
print("Length of the list: :", len(nested_x))

print('1st element: ', nested_x[0])

print('2nd element: ', nested_x[1])

print('1st element in the 2nd element:', nested_x[1][0] )

print('What would be this value? :', nested_x[1][1] )
print('What would be this value? :', nested_x[1][1][0] )
print('What would be this value? :', nested_x[1][1][0][1] )

Date type of nested_x: <class 'list'>
Length of the list: : 4
1st element:  a
2nd element:  ['bb', ['cxt', ['xy', 'xz']], 'ee', 'ff']
1st element in the 2nd element: bb
What would be this value? : ['cxt', ['xy', 'xz']]
What would be this value? : cxt
What would be this value? : x

In [ ]:
#@title Lists inside the Lists
# nested
student_1 = ['Alex Knight', 28, ['Movies', 'Travel'], ['Pizza', 'Cake', 'Ice Cream']]

student_2 = ['Barb', 19, ['Sports', 'Music', 'Travel'], ['Cookies', 'Chicken', 'Pizza']]

student_3 = ['Siva Rama Krishna', 50, ['Teaching', 'Travel'], ['Pasta', 'Biryani']]

students_list = [student_1, student_2, student_3]

# questions.


# 3. Which of the names is longest?
def longest_name(students_list):
    max_length = 0
    for student in students_list:
        name = student[0]
        length = len(name)

        if length > max_length:
            max_length = length
            long_name = name

    return long_name

print('Longest Name: ', longest_name(students_list))


# 1. What are the hobbies of student_1?
print(student_1[2])

# 2. what are the foods liked by student_2
print(student_2[3])


# 4. What is the average age of the students?
print((student_1[1] + student_2[1]) / 2)

# 5. Assume you are given students_list
#  Who is the second student (who is at index 1?)
#  And if he/she has more 1 hobby hobbies, can you let us know their 2nd hobby?
# otherwise simply say "No 2nd hobby"

# verbose implementation
second_student = students_list[1]
second_student_hobbies = second_student[2]
if len(second_student_hobbies) > 1:
  print(second_student_hobbies[1])
else:
  print("No 2nd hobby")

# one liner implementation
print(students_list[1][2][1]) if len(students_list[1][2]) > 1 else   print("No 2nd hobby")

Longest Name:  Siva Rama Krishna
['Movies', 'Travel']
['Cookies', 'Chicken', 'Pizza']
23.5
Music
Music

In [ ]:
#@title Nested List (file structure)
nested_list = [
    "root",
    [
        "folder1",
        [
            "file1.txt",
            "file2.txt",
            [
              "subfolder1",
              [
                "file3.txt",
                "file4.txt"
              ]
            ],
        ],
    ],
    [
        "folder2",
        [
            "file5.txt",
            [
                "subfolder2",
                 [
                     "file6.txt"
                 ]
            ],
        ],
    ],
]

print(nested_list)

['root', ['folder1', ['file1.txt', 'file2.txt', ['subfolder1', ['file3.txt', 'file4.txt']]]], ['folder2', ['file5.txt', ['subfolder2', ['file6.txt']]]]]

# Tuples

In [ ]:
#@title 48. What is tuple? tuples are immutable
# tuples are immutable (Once created, you can not change the values)
# day of week
# month names
my_list = ['sun', 'moon']
my_list.append('pluto')
print(my_list)


my_tuple = ('sun', 'moon')
#my_tuple.append('pluto')
#my_tuple[0] = 'pluto'
print(my_tuple)

['sun', 'moon', 'pluto']

TypeError: 'tuple' object does not support item assignment

In [ ]:
#@title list: Supported operations
print('\n\nlist methods are: ')
for command in dir(list):
  if '_' not in command:
    print(command)

list methods are:
append
clear
copy
count
extend
index
insert
pop
remove
reverse
sort

In [ ]:
#@title tuple: Supported operations
print('\n\ntuple methods are: ')
for command in dir(tuple):
  if '_' not in command:
    print(command)

tuple methods are:
count
index

In [ ]:
#@title Tuples having only one item
a = 7
print(type(a), a)

a = (7)
print(type(a), a)

a = 3 + 4
print(type(a), a)


a = (3 + 4)
print(type(a), a)

b = [5, 10]
print(type(b), b)

c = [9]
print(type(c), c)

d = (8, 4)
print(type(d), d)

e = (3)
print(type(e), e)

f = (88, )
print(type(f), f)

<class 'int'> 7
<class 'int'> 7
<class 'int'> 7
<class 'int'> 7
<class 'list'> [5, 10]
<class 'list'> [9]
<class 'tuple'> (8, 4)
<class 'int'> 3
<class 'tuple'> (88,)

In [ ]:
#@title Tuples can be recreated

# updating the value of an int variable
x = 12
x = 3


# updating a tuple
tuple_1 = (1, 2)

#changing the tuple is not permitted
#tuple_1.append(3) # not permitted

tuple_1 = (3, 4)

(1, 2, 1, 2)
(1, 2, 1, 2, 1, 2, 1, 2)

In [ ]:
#@title Tuples can be added

tuple_1 = (1, 2)

# I am recreating a tuple
tuple_new = tuple_1 + tuple_1
#           (1, 2)  +  (1, 2)
#           (1, 2, 1, 2)
print(tuple_new)


# I am recreating a tuple. this is permitted
tuple_1 = tuple_1 + tuple_1
print(tuple_1)

In [ ]:
#@title Tuples can be added / recreated

t1 = (1, ) + (1, )
print(t1)

t1 = t1 + t1
print(t1)

x = len(t1)
print(x)

(1, 1)
(1, 1, 1, 1)
4

In [ ]:
#@title Both tuples and lists can have items of different types
x = [1, 2.0, 3, 'spiderman']
y = ('wyatt', 6, 18, 0.50)
print(y)

('wyatt', 6, 18, 0.5)

# 2-D Lists

![image.png]()

In [ ]:
#@title 2_Dimensional Lists (Basic Example 1)

marks = [10, 25, 24, 26, 65, 72, 37, 98, 99]
py_marks= [ [10, 25, 24], [26, 65, 72], [37, 98, 99] ]

a = len(marks)
b = len(py_marks)

x = marks[0]
y = marks[2]
print(type(x), type(y))

p = py_marks[0]
q = py_marks[2]
print(type(p), type(q))

<class 'int'> <class 'int'>
<class 'list'> <class 'list'>

In [ ]:
#@title 2-Dimensional Lists (Basic)

#1-Dimensional List
my_list = [2, 3, 4, 9, 8, 7]

# what is the length of the my_list? i.e how many elements are there in the my_list?
print('length of 1-D list: ', len(my_list))

# what is the value of first element in 1-D list?
first_element = my_list[0]

print('Value of 1st element in 1-D list: ', first_element)
print('Type of the first element: ', type(first_element))

#Navigating the 1-D list:
print('Navigating the 1-D list')
for elem in my_list:
  print(elem)


#2-Dimensional List
# 2 3 4
# 9 8 7
my_list =[ [2, 3, 4],
           [9, 8, 7] ]
# what is the length of the my_list? i.e how many elements are there in the my_list?
print('length of 2-D list: ', len(my_list))

# what is the value of first element in 2-D list?
first_element = my_list[0]

print('Value of 1st element in 2-D list: ', first_element)
print('Type of the first element: ', type(first_element))

# How many rows are there in the 2-D list? 2  ==> legth of the list = 2
# How many columns are there in the 2-D list? ==> length of one of the little lists = 3

print('Number of rows in 2-D list: ', len(my_list))
print('Number of columns i 2-D list: ', len(my_list[0]))

# Get the 2nd element of the 2nd element
second_of_second = my_list[1][1]
print('Second element of second element: ', second_of_second)

third_of_first = my_list[0][2]
print('Third element of first element: ', third_of_first)

# Navigating the 2-D list
print('Navigating the 2-D list: 1st level')
for little_list in my_list:
  print(little_list)

print('Navigating the 2-D list: 2 levels')
for little_list in my_list:
  for elem in little_list:
    print(elem)

length of 1-D list:  6
Value of 1st element in 1-D list:  2
Type of the first element:  <class 'int'>
Navigating the 1-D list
2
3
4
9
8
7
length of 2-D list:  2
Value of 1st element in 2-D list:  [2, 3, 4]
Type of the first element:  <class 'list'>
Number of rows in 2-D list:  2
Number of columns i 2-D list:  3
Second element of second element:  8
Third element of first element:  4
Navigating the 2-D list: 1st level
[2, 3, 4]
[9, 8, 7]
Navigating the 2-D list: 2 levels
2
3
4
9
8
7

In [ ]:
#@title Index Notation of 2-D Lists
my_list =[ [2, 3, 4], [9, 8, 7], [1, -1, 4] ]

x = my_list[1]  # [9, 8, 7]
y = my_list[0]  # [2, 3, 4]
z = my_list[-2] # [9, 8, 7]

a = x[1]   # 8
b = y[0]   # 2
c = z[-1]  # 7


# combining the above assignment operations
p = my_list[1][1]   # 8
q = my_list[0][0]   # 2
c = my_list[-2][-1] # 7

# what are these values?
d = my_list[1][-1] + my_list[-2][-1] + my_list[0][2]
#   7 + 7 + 4
print(d)

In [ ]:
#@title wo Dimenstional Lists  (List of Lists)

#30 students in python class.
#Each student did 12 assignments so far

# These are 1-Dimensional Lists
student_1_marks = ['anna', 10, 9, 8, 10, 10]
student_2_marks = ['bindu', 9, 0, 8, 8, 10]
student_3_marks = ['chris', 10, 9, 8, 10, 10]
student_4_marks = ['deepta', 9, 9, 8, 8, 10]
student_5_marks = ['eshan', 10, 9, 8, 9, 10]
student_6_marks = ['fiona', 9, 10, 8, 8, 10]

# I can create list of lists
python_class_marks = [student_1_marks, student_2_marks, student_3_marks, student_4_marks, student_5_marks, student_6_marks]
# Imagine that each list is a TV
# And 2-D list is nothing but a LIST of REMOTES where each REMOTE is pointing to a specific TV

# print(python_class_marks)
# print(*python_class_marks)

for each_student_marks in python_class_marks:
  print(each_student_marks)

# for loop in the for loop
# and use the range function
# to get the desired output
print("Brute force printing of 2-D lists")
for each_student_marks in python_class_marks:
  print(each_student_marks)


print("Printing each student and their marks")
student_count = len(python_class_marks)
# it goes from 0 to count-1
# 0, 1, 2, 3, 4, 5
for student_index in range(student_count):
    print("Student", student_index+1, "Marks")
    student_marks_list = python_class_marks[student_index]
    #print(student_marks_list)

    marks_count = len(student_marks_list)
    for marks_index in range(1, marks_count):
        marks = student_marks_list[marks_index]
        print("A", marks_index, " = ", marks)

# Student 1 Marks:
A1 = 10
A2 = 9
A3 = 8
A4 = 10
A5 = 10

# Student 2 Marks:
A1 = 9
A2 = 0
A3 = 8
A4 = 8
A5 = 10

['anna', 10, 9, 8, 10, 10]
['bindu', 9, 0, 8, 8, 10]
['chris', 10, 9, 8, 10, 10]
['deepta', 9, 9, 8, 8, 10]
['eshan', 10, 9, 8, 9, 10]
['fiona', 9, 10, 8, 8, 10]
Brute force printing of 2-D lists
['anna', 10, 9, 8, 10, 10]
['bindu', 9, 0, 8, 8, 10]
['chris', 10, 9, 8, 10, 10]
['deepta', 9, 9, 8, 8, 10]
['eshan', 10, 9, 8, 9, 10]
['fiona', 9, 10, 8, 8, 10]
Printing each student and their marks
Student 1 Marks
A 1  =  10
A 2  =  9
A 3  =  8
A 4  =  10
A 5  =  10
Student 2 Marks
A 1  =  9
A 2  =  0
A 3  =  8
A 4  =  8
A 5  =  10
Student 3 Marks
A 1  =  10
A 2  =  9
A 3  =  8
A 4  =  10
A 5  =  10
Student 4 Marks
A 1  =  9
A 2  =  9
A 3  =  8
A 4  =  8
A 5  =  10
Student 5 Marks
A 1  =  10
A 2  =  9
A 3  =  8
A 4  =  9
A 5  =  10
Student 6 Marks
A 1  =  9
A 2  =  10
A 3  =  8
A 4  =  8
A 5  =  10

In [ ]:
#@title Creating MxN matrix and fill it with some random numbers

# This program assigns random numbers to a two-dimensional list.
import random

# initialize the rows and columns
rows = 7
cols = 10

# If needed, we can get the input from the user
#rows= int(input('Enter the number of ROWS: '))
#cols = int(input('Enter the number of COLUMNS'))

# use the list comprehension to initialize the 2-D list
values = [[0 for x in range(cols)] for y in range(rows)]

# use the nested loop to visit each element
for row in values:
	  print(row)

# Fill the list with random numbers.
for row in range(rows):
	for col in range(cols):
		values[row][col] = random.randint(1, 100)

# Display the random numbers.
#print(values)
for each_row in values:
  print(each_row)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[87, 78, 36, 22, 55, 32, 91, 89, 89, 63]
[80, 39, 56, 23, 99, 59, 92, 20, 74, 38]
[96, 52, 74, 16, 41, 41, 65, 39, 41, 24]
[35, 71, 15, 70, 64, 92, 94, 25, 57, 91]
[69, 58, 97, 49, 35, 23, 92, 29, 52, 65]
[94, 82, 47, 17, 3, 29, 39, 54, 47, 72]
[96, 19, 51, 76, 39, 6, 94, 91, 80, 53]

In [ ]:
#@title Flattening a 2-D list into 1-D list

matrix = [  [1, 2, 3],
            [4, 5, 6],
            [7, 8, 9],
            [10, 99, 88]
         ]
flattened = [num for row in matrix for num in row]
print(flattened)  # Output: [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99, 88]

In [ ]:
#@title 2-D List Traversals (row-major and column-major)

# 3 rows and 4 columns ==> 3 x 4 matrix
scores = [ [10, 25, 14, 73],
           [46, 65, 72, 53],
           [37, 98, 99, 15]
         ]
print(scores)


# Two types of traversals
# Row major = 10 25 14 73 46 65 72 53 37 98 99 14
# Column major = 10 46 37 25 65 98 14 72 99 73 53 15


# Row major traversal
# Left to right and top to bottom
# traditional looping
print('\nRow Major Traversal: Using "in" construct')
for outer_list in scores:
    for elem in outer_list:
        print(elem, end = ' ')

# Row major traversal
# Left to right and top to bottom
# Using the range function and indexing
print('\nRow Major Traversal: Using "range" construct')
row_count = len(scores)
col_count = len(scores[0])

for r in range(row_count):  # go from 0 to 2
    for c in range(col_count): # go from 0 to 3
        print(scores[r][c], end = ' ')  #  (0,0) (0,1) (0,2) (0,3) (1,0) (1,1).... (3,3)


# Column Major Traversal
# Top to Bottom and then Left to Right
# Using the range function and indexing
print('\nColumn Major Traversal: Using "range" construct')
row_count = len(scores)
col_count = len(scores[0])

for c in range(col_count):
    for r in range(row_count):
        print(scores[r][c], end = ' ')

[[10, 25, 14, 73], [46, 65, 72, 53], [37, 98, 99, 15]]

Row Major Traversal: Using "in" construct
10 25 14 73 46 65 72 53 37 98 99 15
Row Major Traversal: Using "range" construct
10 25 14 73 46 65 72 53 37 98 99 15
Column Major Traversal: Using "range" construct
10 46 37 25 65 98 14 72 99 73 53 15

In [ ]:
#@title 2-D Lists (Row-wise Traversal) (custom function)
# Row-Wise Traversal
# Navigating the 2-D lists row by row

def rowMajor(my_list):
  row_count = len(my_list)
  column_count = len(my_list[0])
	# accessing element row wise
  for i in range(row_count):
    for j in range(column_count):
      print(my_list[i][j], end= ' ')
    print()

rowMajor(python_class_marks)

anna 10 9 8 10 10
bindu 9 0 8 8 10
chris 10 9 8 10 10
deepta 9 9 8 8 10
eshan 10 9 8 9 10
fiona 9 10 8 8 10

In [ ]:
#@title 2-D Lists (Column-wise Traversal) (custom function)
# Row-Wise Traversal
# Navigating the 2-D lists Column by column

def columnMajor(my_list):
  row_count = len(my_list)
  column_count = len(my_list[0])
	# accessing element row wise
  for i in range(row_count):
    for j in range(column_count):
      print(my_list[j][i], end= ' ')
    print()

columnMajor(python_class_marks)

anna bindu chris deepta eshan fiona
10 9 10 9 10 9
9 0 9 9 9 10
8 8 8 8 8 8
10 8 10 8 9 8
10 10 10 10 10 10

In [ ]:
#@title Max of 2-D lists  (only on the basis of first element)
scores = [ [100, 25, 14, 73],
           [46, 1965, 72, 53],
           [37, 98, 99, 15]
         ]

print(scores)
print(max(scores))

scores = [ [100, 1098725, 14, 73],
           [46, 1965, 72, 53],
           [3798, 98, 99, 15]
         ]

print(scores)
print(max(scores))

[[100, 25, 14, 73], [46, 1965, 72, 53], [37, 98, 99, 15]]
[100, 25, 14, 73]
[[100, 1098725, 14, 73], [46, 1965, 72, 53], [3798, 98, 99, 15]]
[3798, 98, 99, 15]

In [ ]:
#@title Sorting of 2-D lists (only on the basis of first element)
#@title Max of 2-D lists  (only on the basis of first element)
scores = [ [3, 25, 14, 73],
           [1, 1965, 72, 53],
           [2, 98, 99, 15]
         ]
print('Before Sorting: ', scores)
scores.sort()
print('After sorting: ', scores)


scores = [ [10, 1098725, 14, 73],
           [4, 1965, 72, 53],
           [7, 98, 99, 15]
         ]
print('Before Sorting: ', scores)
scores.sort()
print('After sorting: ', scores)

Before Sorting:  [[3, 25, 14, 73], [1, 1965, 72, 53], [2, 98, 99, 15]]
After sorting:  [[1, 1965, 72, 53], [2, 98, 99, 15], [3, 25, 14, 73]]
Before Sorting:  [[10, 1098725, 14, 73], [4, 1965, 72, 53], [7, 98, 99, 15]]
After sorting:  [[4, 1965, 72, 53], [7, 98, 99, 15], [10, 1098725, 14, 73]]

In [ ]:
#@title Sorting 2-D lists (based on any column; based on multiple columns)
scores = [ [3, 25, 14, 73],
           [1, 1965, 72, 53],
           [2, 98, 99, 15]
         ]

scores = [ [1, "namasthe"],
          [2, "gujarathi"]]

# do the default sorting based on the first key
scores.sort()

#scored_sorted = sorted(scores, key = lambda x: (x[3], x[column_number_2]))

scores_sorted = sorted(scores, key = lambda x: (x[1]))

print('Before sorting: ', scores)
print('After sorting (default sort order based on the firs column): ', scores)
print('After sorting (Sorting based on the 4th column using lambda function: ', scores_sorted)

Before sorting:  [[1, 'namasthe'], [2, 'gujarathi']]
After sorting (default sort order based on the firs column):  [[1, 'namasthe'], [2, 'gujarathi']]
After sorting (Sorting based on the 4th column using lambda function:  [[2, 'gujarathi'], [1, 'namasthe']]

In [ ]:
#@title Sorting: Multiple Keys
# Python program to sort a list by multiple
# attributes using lambda function

# Define the list and declare in variable
list_defined=[
    [1, 'Arun', 'Computer', 50000],
    [2, 'Betty', 'Physics', 20000],
    [3, 'Abby', 'Chemistry', 30000],
    [4, 'Chris', 'English', 40000]]

# Sort the list using sorted() function
# and lambda function for multiple attributes
sorted_list = sorted(list_defined, key = lambda x: (x[1], x[2]))
sorted_list = sorted(list_defined, key = lambda x: (x[3], x[1], x[2]))
# Print the sorted list
print(sorted_list)

#Other Operations on Lists

In [ ]:
#@title Zipping two or three lists
names = ["Anna", "Bindu", "Charlie"]
ages = [16, 17, 10]

zipped_two = list(zip(names, ages))
print(zipped_two)

[('Anna', 16), ('Bindu', 17), ('Charlie', 10)]

In [ ]:
#@title unzipping lists
names, ages = zip(*zipped_two)
print(names)
print(ages)

('Anna', 'Bindu', 'Charlie')
(16, 17, 10)

In [ ]:
#@title mapping lists (Example 1)
# The map() function in Python is used to apply a given function to all items in an iterable (like a list or tuple) and return a new iterable (typically a map object, which can be converted to a list or another collection type).


list1 = [1, 2, 3]
list2 = [4, 5, 6]

sum_result = list(map(lambda x: x[0] + x[1], zip(list1, list2)))
print(sum_result)

[5, 7, 9]

In [ ]:
#@title mapping lists (Example 2)

def format_person(name, age, city):
    return f"{name} is {age} years old and lives in {city}"

names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
cities = ["New York", "Los Angeles", "Chicago"]

formatted_result = list(map(format_person, names, ages, cities))
print(*formatted_result, sep="\n")

Alice is 25 years old and lives in New York
Bob is 30 years old and lives in Los Angeles
Charlie is 35 years old and lives in Chicago

In [ ]:
#@title mapping lists (Example 3)
def format_person(zipped_list):
    return f"{zipped_list[0]} is {zipped_list[1]} years old and lives in {zipped_list[2]}"

names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
cities = ["New York", "Los Angeles", "Chicago"]

formatted_result = list(map(format_person, zip(names, ages, cities)))
print(*formatted_result, sep="\n")

Alice is 25 years old and lives in New York
Bob is 30 years old and lives in Los Angeles
Charlie is 35 years old and lives in Chicago

1. Appending inside the fuction
7.691136360168457
2. Assigning append to a variable and using the variable inside the fuction
7.873494625091553
3. Using the list comprehension
3.2372326850891113

[[2, 'Betty', 'Physics', 20000], [3, 'Abby', 'Chemistry', 30000], [4, 'Chris', 'English', 40000], [1, 'Arun', 'Computer', 50000]]

In [ ]:
#@title List Comprehension vs Loops: Which is faster?
import time
iterations = 100000000

print('1. Appending inside the fuction')
start = time.time()
mylist = []
for i in range(iterations):
    mylist.append(i+1)
end = time.time()
print(end - start)


print('2. Assigning append to a variable and using the variable inside the fuction')
start = time.time()
mylist = []
operation = mylist.append
for i in range(iterations):
    operation(i+1)
end = time.time()
print(end - start)


print('3. Using the list comprehension')
start = time.time()
mylist = [i+1 for i in range(iterations)]
end = time.time()
print(end - start)

#Lists: Some interesting problems

In [ ]:
#@title DOB problem
# N number of people are entering the room.
# What is the value of N for the two people to share the same birthday?
import random

dob_list = [0] * 365
print(dob_list)

count = 0
while True:
  count += 1
  dob_in = random.randint(1, 365)
  dob_list[dob_in] += 1
  if dob_list[dob_in] == 2:
    break

print(count)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
17