# Chapter 3. Conditions and Boolean Logic
# Siva.Jasthi@gmail.com
# Python 101

```
Comparison Operators
a == b        is a equal to b?
a != b
a > b
a < b
a >= b
a <= b
```

```
Logical Operators
a and b         This is True only if both a and b are True
a or b          This is Ture if either of a or b is True
not a           This is True when a is False
```

```
Truth Table
True and True    --> True
True and False
False and True
False and False

True or True
True or False
False or True
False or False

not True
not False

not (True or False)

```

```
The expresstion (condition) must be one of these two values
- True
- False
```

```
if (cond):
  statement
```

```
if (cond):
  statement1
else:
  statement2
```

```
if (cond):
  statement1
elif (cond):
  statement2
elif (cond):
  statement3
else:
  statement4
```

```
if (cond):
   if (cond):
      statement1
   else:
      statement2
else:
   if (cond):
      statement3
   else:
      statement4
```

# 3.1. Comparison operators and Boolean Logic

- Pay attention to = (assignment operator) and == (equals to operator)
- a = b (take the value of b and assign it to a
- a == b (is a equals to b?)

- Comparison operators
- (equals to) ==
- (not equals to) !=
- (greater than) >
- (less than) <
- (greater than or equals to) >=
- (less than or equals to) <=

```
True and True = True
False and False = False
True and False = False
False and True = False

True or True = True
False or True = True
True or False = True
False or False = False

```

In [ ]:
#@title Comparison operators
a = 10
b = 20
c = 5
d = 5

x = (a == b)   # False
y = (a != b)  # True
z = (a > b)   # False
p = (a < b)   # True
q = (c + d < a + b)  #True
r = (c+b < a) # False
s = (a + b == c * 6)  # True
t = (a - b < c)  # True
u = (c <= d)  # True
v = (d <= c) # True
w = (d < c) # False

In [ ]:
#@title Truth Table (aka Boolean Logic) (Excercise 1)

a = True
b = False
c = True


# AND : Both must True for the entire condition to be True
# True AND True   -->  True
# True AND False  -->  False
# False AND True  -->  False
# False AND False -->  False


# AND : Either of the conditions must True for the entire condition to be True
# True or True   -->   True
# True or False  -->   True
# False or True  -->   True
# False or False -->   False

#NOT:  inverse of False = True, inverse of True = False
# not True --> False
# not False --> True

True
False
False
False
True
True
True
False
True
False

In [ ]:
#@title Boolean Logic (Excercise 2)
a = 10
b = 5
c = 3

x = (a > c) and (b > c)
y = (a < c) or (b + c < a)
z = not(y)
p = not((a < c) or (b + c > a))
q = not (not(a == 2 * b))

In [ ]:
#@title logical and

# is the child > 16 years old AND if the child is taller than 5 feet,
#the child can then enter the ride
child_age = 17
child_height = 5.2
p = (child_age > 16) and (child_height > 5)  # T and T = T

child_age = 14
child_height = 5.2
q = (child_age > 16) and (child_height > 5)  # F and T = F


child_age = 20
child_height = 4.8
r = (child_age > 16) and (child_height > 5)  # T and F = F

child_age = 16
child_height = 4.8
s = (child_age > 16) and (child_height > 5)  # F and F = F

In [ ]:
#@title logical or

# is the child > 16 years old or if the child is taller than 6 feet,
# then child can then enter the ride
child_age = 17
child_height = 5.2
p = (child_age > 16) or (child_height > 5)  # T or T = T

child_age = 14
child_height = 5.2
q = (child_age > 16) or (child_height > 5)  # F or T = T


child_age = 20
child_height = 4.8
r = (child_age > 16) or (child_height > 5)  # T or F = T


child_age = 16
child_height = 4.8
s = (child_age > 16) or (child_height > 5)  # F or F = F

In [ ]:
#@title logical not
# complimentary to the inner result

# is the child > 16 years old or if the child is taller than 6 feet,
# then child can then enter the ride
child_age = 17
child_height = 5.2
p = (child_age > 16) or (child_height > 5)  # T or T = T
a = not(p)

child_age = 14
child_height = 5.2
q = (child_age > 16) or (child_height > 5)  # F or T = T
b = not(q)

child_age = 20
child_height = 4.8
r = (child_age > 16) or (child_height > 5)  # T or F = T
c = not(r)

child_age = 16
child_height = 4.8
s = (child_age > 16) or (child_height > 5)  # F or F = F
d = not(s)

# 3.2. Short Circuit Evaluation of Boolean Expressions

In [ ]:
#@title 0 is False; 1 is True  (as well as non-zero is also True)

a = False
b = True
c = 0
d = 1

p = a == b
q = a == c
r = a == d
s = (b == c)
t = (b == d)

print(p)
print(q)
print(r)
print(s)
print(t)

False
True
False
False
True

In [ ]:
#@title OR stops at the first True (ex.1)
x = 8 or 7 or 0 or 10
print(x)

In [ ]:
#@title OR stops at the first True (ex.2)
x = 0 or True or False or 0 or 9 or 10
print(x)

True

In [ ]:
#@title AND stops at the first False (ex.1)
x = 5 and 0 and 9 and 10
print(x)

0

In [ ]:
#@title AND stops at the first False (ex.2)
x = 0 and 5 and 9 and 10
print(x)

0

In [ ]:
#@title AND stops at the first False (ex.3)
x = -8 and 5 and 9 and 0 and 10
print(x)

0

In [ ]:
#@title Practice Exercise 1: Boolean Logic
# Comparison operators
a,b,c = 10,20,5

x = (a == b)  #False
y = (a != b)  #True
z = (a > b)   #False
p = (a < b)   #True
r = (c+b < a) #False
s = (a+b == c*6)  #True
t = (a-b < c)  #True

# and or not
# and means both the conditions must be true. Then only, the entire condition is true
u = (x and y)  #False

# or means - if atleast one condition is true, then the whole condition is true
v = (x or y)   #True

# not means -- just the opposite
w = (not x)   # True

x1 = (s and t)   # True
y1 = (x or z)    # False
z1 = (not (p or z))  #False

In [ ]:
#@title Practice Exercise 2: Boolean Logic

p = 3
q = 9
r = 8
s = 2
t = 15



# Indicate True or False or value for each of these values
a = (p < q)
b = (p == t)
c = (s + s + 1 == 5)
d = (s*s + 1 == p)
e = (s*s*s > p)
f = (r >= q)
g = (p >= t)
h = (t <= p)
i = (p + t) * 2 == r
j = (p != t)
k = (p != q)
l = j and k
m = j or k
n = (j and k) or (j or k)
o = (p <= 10) and (q == 6)
u = not (r >= q)
v = not(s == 2) and not(r < 5)
w = not (p == t) or not(p == q)
x = not(m) and not(v)
x = (q - p == 1) and (p + 2 < t)
y = not(not (x))
z = (r + s + t <= 27)

# 3.3.Conditions: Branching logic

In [ ]:
#@title If conditions: day of week example (Version 1)
'''
Question 1:
If the user enters 1 as the input,
what are all the line numbers python interpreter stops?

Question 2:
If the user enters 3 as the input,
what are all the line numbers python interpreter stops?

Question 3:
If the user enters 8 as the input,
what are all the line numbers python interpreter stops?

'''

number = input('Enter a number in the range of 1 through 7: ')
number = int(number)

if (number == 1):
  print('Monday')

if (number == 2):
  print('Tuesday')

if (number == 3):
  print('Wednesday')

if (number == 4):
  print('Thursday')

if (number == 5):
  print('Friday')

if (number == 6):
  print('Saturday')

if (number == 7):
  print('Sunday')

In [ ]:
#@title if and elif conditions: day of week example (Verison 2)

'''
Question 1:
If the user enters 1 as the input,
what are all the line numbers python interpreter stops?

Question 2:
If the user enters 3 as the input,
what are all the line numbers python interpreter stops?

Question 3:
If the user enters 8 as the input,
what are all the line numbers python interpreter stops?
'''

number = input('Enter a number in the range of 1 through 7: ')
number = int(number)

if (number == 1):
  print('Monday')

elif (number == 2):
  print('Tuesday')

elif (number == 3):
  print('Wednesday')

elif (number == 4):
  print('Thursday')

elif (number == 5):
  print('Friday')

elif (number == 6):
  print('Saturday')

elif (number == 7):
  print('Sunday')

In [ ]:
#@title if, elif and else conditions: day of week example (Verison 3) (Perfect)

'''
Question 1:
If the user enters 1 as the input,
what are all the line numbers python interpreter stops?

Question 2:
If the user enters 3 as the input,
what are all the line numbers python interpreter stops?

Question 3:
If the user enters 8 as the input,
what are all the line numbers python interpreter stops?
'''

number = input('Enter a number in the range of 1 through 7')
number = int(number)

if (number == 1):
  print('Monday')

elif (number == 2):
  print('Tuesday')

elif (number == 3):
  print('Wednesday')

elif (number == 4):
  print('Thursday')

elif (number == 5):
  print('Friday')

elif (number == 6):
  print('Saturday')

elif (number == 7):
  print('Sunday')

else:
  print('error: the number must be between 1 and 7')

In [ ]:
#@title Example: if.. else
num1 = 6
num2 = 8
num3 = 2

if (num1 < num2):
   num1 = num2   # 8, 8, 2
else:
   num3 = num2

if (num2 >= num3):
  num1 = num2 + num3   # 10, 8, 2

sum = num1 + num2 + num3  # 20
print(sum)

20

In [ ]:
#@title Example: Nested if.. else conditions
score1 = 400
score2 = 800

result = 2

if (score1 > 500):
  result = result + 1
  if (score2 > 500):
    result = result + 1
  else:
    result = result + 2
else:
  result = result + 5
  if (score2 > 500):
    result = result + 1
  else:
    result = result -1

print(result)

In [ ]:
#@title Example: Nested if else conditions
# if possible, avoid those
age = int(input("enter the age: "))

if (age <= 1):
    print("you are an infant")

else:
    if (age > 1) and (age <= 13):
        print("you can not vote")
        print("you are a child")

    else:
        if age >=13 and (age < 20):
            print("you are a teen")
            if (age == 18) or (age == 19) or (age == 20):
                print("you can vote")
        else:
            if (age >= 20) and (age <= 100):
                print("you can vote")
                print("you are an adult")

            else:
                print("Error: incorrect age is input")