# Sets: An introduction
### Python 101
### Siva.Jasthi@metrostate.edu

### https://www.w3schools.com/python/python_ref_set.asp

In [ ]:
#@title What are all Set methods?
set_functions = dir(set)
for fn in set_functions:
  if '__' not in fn:
    print(fn)

add
clear
copy
difference
difference_update
discard
intersection
intersection_update
isdisjoint
issubset
issuperset
pop
remove
symmetric_difference
symmetric_difference_update
union
update

In [ ]:
#@title Get help on the set methods
help(set.discard)

Help on method_descriptor:

discard(...)
    Remove an element from a set if it is a member.

    If the element is not a member, do nothing.

In [ ]:
#@title Creating an empty set
set_x = {}  # Do not use this construct. This is a "dict"
set_x = set()
print(type(set_x))
if type(set_x) == set:
  print("set_x is a set")

<class 'set'>
set_x is a set

In [ ]:
#@title Creating a set with some elements
set_x = {3,4,5}
print(set_x)

{3, 4, 5}

In [ ]:
#@title Adding elements to the set
set_x = set()

set_x.add(10)
print(set_x)

set_x.add(20)
print(set_x)

set_x.add(30)
print(set_x)

# add() takes only one argument. You can not give multiple arguments to add() method.
#set_x.add(30,40)

{10}
{10, 20}
{10, 20, 30}

TypeError: ignored

In [ ]:
#@title Sets can't contain duplicates
set_x = set()

set_x.add(10)
set_x.add(30)
set_x.add(20)
print('#1. Set : ', set_x)

# Adding a duplicate elements
# These are simply ignored
set_x.add(10)
set_x.add(30)
print('#2. Set : ', set_x)

# But you can add a new unique element
set_x.add(50)
print('#3. Set : ', set_x)

#1. Set :  {10, 20, 30}
#2. Set :  {10, 20, 30}
#3. Set :  {10, 20, 50, 30}

In [ ]:
#@title Creating a set from a list or tuple
seq = [10, 20, 30, 10, 40]
#seq = (10, 20, 30, 10, 40)
my_set = set(seq)

print('List: ', seq)
print('Length of list/tuple: ', len(seq))
print('Set: ', my_set)
print('Length of Set: ', len(my_set))

print('\n\n----- Observations ----------')
print('List/Tuple is ordered while Set is not ordered')
print('List/Tuple can contain duplicates. But Set can not contain duplicates')

List:  [10, 20, 30, 10, 40]
Length of list/tuple:  5
Set:  {40, 10, 20, 30}
Length of Set:  4


----- Observations ----------
List/Tuple is ordered while Set is not ordered
List/Tuple can contain duplicates. But Set can not contain duplicates

In [ ]:
#@title Cool example: Finding whether a list has duplicates
# Find whether a list has any duplicate elements

# Version 1
nums = [1, 2, 4, 5, 2]
nums = [1, 2, 4, 5]

has_duplicates = False
for elem in nums:
    count_of_elem = nums.count(elem)
    if count_of_elem > 1:
        has_duplicates = True
        print("List does contain duplicates")
        break
else:
    print("List does not contain duplicates")

# Version 2

nums = [1, 2, 4, 5, 2]
print(" Does the List contain duplicates? = ", len(nums)  != len(set(nums)) )

In [ ]:
#@title Creating a set from Dictionary keys
my_dict = { 1: 'a', 2: 'b', 3: 'c', 4: 'c'}

my_set = set(my_dict.keys())
#my_set = set(my_dict)

print(my_set)

{1, 2, 3, 4}

In [ ]:
#@title Creating a set from Dictionary Values
my_dict = { 1: 'a', 2: 'b', 3: 'c'}
my_set = set(my_dict.values())
print(my_set)

{'b', 'a', 'c'}

In [ ]:
#@title Creating a set from a string
my_set = set('abracadabra')
print(my_set)

{'c', 'r', 'a', 'b', 'd'}

In [ ]:
#@title Can't do: Accessing items by index
set_x = set()
set_x.add(10)
set_x.add(20)
set_x.add(30)

# following is not possible
y = set_x[0]

TypeError: ignored

In [ ]:
#@title Can't do: Setting items by index
set_x = set()
set_x.add(10)
set_x.add(20)
set_x.add(30)

# following is not possible
set_x[4] = 99

TypeError: ignored

In [ ]:
#@title Traversal of the sets using for loop
set_x = set()
set_x.add('john doe')
set_x.add('john.doe@gmail.com')
set_x.add(40)
set_x.add(2000.56)

# traverse the set using the for loop
for elem in set_x:
  print(elem)

40
john.doe@gmail.com
john doe
2000.56

In [ ]:
#@title Different ways of printing the set
set_x = {'mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun'}
print('\nprint(set_x)')
print(set_x)

print('\nprint(*set_x)')
print(*set_x)

print("\nprint(*set_x, sep=',')")
print(*set_x, sep=', ')

print("\nprint through traversal")
for x in set_x:
  print(x)

print(set_x)
{'wed', 'mon', 'sun', 'tue', 'fri', 'thu', 'sat'}

print(*set_x)
wed mon sun tue fri thu sat

print(*set_x, sep=',')
wed, mon, sun, tue, fri, thu, sat

print through traversal
wed
mon
sun
tue
fri
thu
sat

In [ ]:
#@title Sets are NOT ordered (the order you add != the order you want to see)
set_x = set()
set_x.add(10)
set_x.add(30)
set_x.add(20)
set_x.add(40)
set_x.add(50)

print("Order of adding: 10, 30, 20, 40, 50")
print("Order in the set", set_x)

Order of adding: 10, 30, 20, 40, 50
Order in the set {40, 10, 50, 20, 30}

In [ ]:
#@title Removing an item (remove()- may get KEY ERROR)
set_x = set()
set_x.add(10)
set_x.add(30)
set_x.add(20)
set_x.add(40)
set_x.add(50)

print("Before removal, the set = ", set_x)
set_x.remove(20)
print("After removing 20, the set = ", set_x)

set_x.remove(20)

set_x.discard(20)

Before removal, the set =  {40, 10, 50, 20, 30}
After removing 20, the set =  {40, 10, 50, 30}

In [ ]:
#@title Removing an item (discard() - will not get KEY ERROR
set_x = set()
set_x.add(10)
set_x.add(30)
set_x.add(20)
set_x.add(40)
set_x.add(50)

print("Before discard, the set = ", set_x)
set_x.discard(20)
print("After discard 20, the set = ", set_x)


# you can try to discard an element that doesn't exist
# it will be simply ignored; You will ot get KEY ERROR
print('Discarding a non-existing element will be ignored')
set_x.discard(99)


x = set_x.discard(60)
print('discard() returns: ', x)

Before discard, the set =  {40, 10, 50, 20, 30}
After discard 20, the set =  {40, 10, 50, 30}
Discarding a non-existing element will be ignored
discard() returns:  None

In [ ]:
#@title remove and add methods do not return any value (returns None)

# remove method doesn't return anything
# add method doesn't return anything
# both are VOID methods
set_x = set()
set_x.add(10)
set_x.add(30)
x = set_x.add(20)
print('add() returns: ', x)


y = set_x.remove(20)
print('remove() returns: ', y)

add() returns:  None
remove() returns:  None

In [ ]:
#@title Take out a random item from the set (Remove and Return)  through pop()
set_x = set()
set_x.add(10)
set_x.add(30)
set_x.add(20)


print("Before pop, the set = ", set_x)
a = set_x.pop()
print("After popping a random element, the set = ", set_x)
print('The value popped by pop(): ', a)

Before pop, the set =  {10, 20, 30}
After popping a random element, the set =  {20, 30}
The value popped by pop():  10

In [ ]:
#@title Membership Operator in is supported on sets
# you can't remove an item that doesn't exist
# You will get KEY ERROR
set_x = set()
set_x.add(10)
set_x.add(30)
set_x.add(20)
set_x.add(40)
set_x.add(50)

#set_x.remove(99)

if 99 in set_x:
  set_x.remove(99)
else:
  print("99 doesn't exist")

99 doesn't exist

In [ ]:
#@title Using the Built-in Functions
set_x = set()
set_x.add(10)
set_x.add(30)
set_x.add(20)
set_x.add(40)
set_x.add(50)

print('len of a set: ', len(set_x))
print('max of a set: ', max(set_x))
print('min of a set: ', min(set_x))
print('sum of a set: ', sum(set_x))

len of a set:  5
max of a set:  50
min of a set:  10
sum of a set:  150

In [ ]:
#@title Food for thought: Can you read a random element from a set without removing it()?

set_x = set()
set_x.add(10)
set_x.add(30)
set_x.add(20)
set_x.add(40)
set_x.add(50)


#Option 1: use the for loop
print('Original Set: ', set_x)

for x in set_x:
  break

print('A random element: ', x)
print('Set after reading a random element: ', set_x)

# Option 2: remove and add
x = set_x.pop()
print('A random element: ', x)
set_x.add(x)
print('Set after adding back the random element: ', set_x)

Original Set:  {40, 10, 50, 20, 30}
A random element:  40
Set after reading a random element:  {40, 10, 50, 20, 30}
A random element:  40
Set after adding back the random element:  {40, 10, 50, 20, 30}

In [ ]:
#@title Copying a set to create another set (2 remotes = 2 TVs)

set_x = set()
set_x.add(10)
set_x.add(30)
set_x.add(20)
set_x.add(40)
set_x.add(50)


print('Original Set set_x: ', set_x)
set_y = set_x.copy()
print('Copied Set set_y: ', set_y)

# print('\nPopping two random elements from set_y')
# set_y.pop()
# set_y.pop()
print('Original Set set_x: ', set_x)
print('Copied Set set_y: ', set_y)

#Using the built-in function id() to inspect
print("\nid of set_x: ", id(set_x))
print("id of set_y: ", id(set_y))

print('is identity of set_x and set_y same?  id(set_x) == id(set_y) : ', id(set_x) == id (set_y) )
print('is equality of set_x and set_y same?  set_x == set_y : ', set_x == set_y)

Original Set set_x:  {40, 10, 50, 20, 30}
Copied Set set_y:  {50, 20, 40, 10, 30}
Original Set set_x:  {40, 10, 50, 20, 30}
Copied Set set_y:  {50, 20, 40, 10, 30}

id of set_x:  139965387303840
id of set_y:  139965387303616
is identity of set_x and set_y same?  id(set_x) == id(set_y) :  False
is eequality of set_x and set_y same?  set_x == set_y :  True

In [ ]:
#@title Equating a set to another set (2 remotes = 1 TV)

set_x = set()
set_x.add(10)
set_x.add(30)
set_x.add(20)
set_x.add(40)
set_x.add(50)


print('Set set_x: ', set_x)
set_y = set_x
print('Set set_y: ', set_y)

print('\nPopping two random elements from set_y')
set_y.pop()
set_y.pop()
print('Original Set set_x: ', set_x)
print('Copied Set set_y: ', set_y)

#Using the built-in function id() to inspect
print("\nid of set_x: ", id(set_x))
print("id of set_y: ", id(set_y))


print('is identity of set_x and set_y same?  id(set_x) == id(set_y) : ', id(set_x) == id (set_y) )
print('is equality of set_x and set_y same?  set_x == set_y : ', set_x == set_y)

Set set_x:  {40, 10, 50, 20, 30}
Set set_y:  {40, 10, 50, 20, 30}

Popping two random elements from set_y
Original Set set_x:  {50, 20, 30}
Copied Set set_y:  {50, 20, 30}

id of set_x:  139965387304064
id of set_y:  139965387304064
is identity of set_x and set_y same?  id(set_x) == id(set_y) :  True
is equality of set_x and set_y same?  set_x == set_y :  True

In [ ]:
#@title Updating / Extending a Set
set_x = set()
set_x.add('anna')
set_x.add('bindu')
set_x.add('chris')


set_y = set()
set_y.add('alex')
set_y.add('bob')
set_y.add('anna')


#printing those sets
print('set_x', set_x)
print('set_y', set_y)

# Extend the set_x with the elements from set_y
print('\n\nExtending the set_x with the elements from set_y')
set_x.update(set_y)
print('set_x', set_x)
print('set_y', set_y)

# Extend the set_y with the elements from set_x
print('\n\nExtending the set_y with the elements from set_x')

set_x = set()
set_x.add('anna')
set_x.add('bindu')
set_x.add('chris')

set_y = set()
set_y.add('alex')
set_y.add('bob')
set_y.add('anna')

set_y.update(set_x)
print('set_x', set_x)
print('set_y', set_y)

set_x {'anna', 'chris', 'bindu'}
set_y {'anna', 'bob', 'alex'}


Extending the set_x with the elements from set_y
set_x {'anna', 'bindu', 'chris', 'alex', 'bob'}
set_y {'anna', 'bob', 'alex'}


Extending the set_y with the elements from set_x
set_x {'anna', 'chris', 'bindu'}
set_y {'anna', 'bindu', 'chris', 'alex', 'bob'}

In [ ]:
#@title Clearing (emptying) a set
set_x = set()
set_x.add('anna')
set_x.add('bindu')
set_x.add('chris')

print('set_x = ', set_x)
set_x.clear()

print('set_x after clear() = ', set_x)

In [ ]:
#@title Checking for membership
set_x = set()
set_x.add('anna')
set_x.add('bindu')
set_x.add('chris')
set_x.add('diana')

print('Checking for membership - in')
print('is chris in the set? = ', ('chris' in set_x))
print('is siva in the set? = ', ('siva' in set_x))

print('\nChecking for membership - not in (inverse of in)')
print('is anna not in the set? = ', ('anna' not in set_x))
print('is bob not in the set? = ', ('bob' not in set_x))

# Set Operations

In [ ]:
#@title Examples of Set Operations
nums1 = [4, 5, 6, 7]
nums2 = [ 4, 6, 8, 9]

nums1_set = set(nums1)
nums2_set = set(nums2)

print("Difference (nums2 - nums1): ", nums2_set.difference(nums1_set))
print("Difference (nums2 - nums1): ", set.difference(nums2_set, nums1_set))
print("Difference (nums2 - nums1): ",   nums2_set - nums1_set)



print("Difference (nums1 - nums2): ", nums1_set.difference(nums2_set))
print("Difference (nums1 - nums2): ", set.difference(nums1_set, nums2_set))
print("Difference (nums1 - nums2): ",   nums1_set - nums2_set)

print("Symmetric Difference: ", nums1_set.symmetric_difference(nums2_set))
print("Symmetric Difference:: ", set.symmetric_difference(nums1_set, nums2_set))
print("Symmetric Difference:: ",   nums2_set ^ nums1_set)


print("Union: ", nums1_set.union(nums2_set))
print("Union: ", set.union(nums1_set, nums2_set))
print("Union: ",  nums2_set | nums1_set )

print("Intersection: ", nums1_set.intersection(nums2_set))
print("Intersection: ", set.intersection(nums1_set, nums2_set))
print("Intersection: ", nums1_set  & nums2_set)

In [ ]:
#@title Set Operations: Union |

set_x = set()
set_x.add('anna')
set_x.add('bindu')
set_x.add('chris')


set_y = set()
set_y.add('alex')
set_y.add('bob')
set_y.add('anna')


#printing those sets
print('set_x', set_x)
print('set_y', set_y)



# Union of two sets  - you can combine using a specific "set"
print('\n\nUnion of two sets  - you can combine using specific "set"')
set_2 = set_x.union(set_y)
print('set_2', set_2)


# Union of two sets  - you can combine using a specific "set"
print('\n\nUnion of two sets  - using | operator')
set_3 = set_x | set_y
print('set_3', set_3)

set_x {'anna', 'chris', 'bindu'}
set_y {'anna', 'bob', 'alex'}


Union of two sets  - you can combine using generic "set"
set_1 {'anna', 'bindu', 'chris', 'alex', 'bob'}


Union of two sets  - you can combine using specific "set"
set_2 {'anna', 'bindu', 'chris', 'alex', 'bob'}


Union of two sets  - using | operator
set_3 {'anna', 'bindu', 'chris', 'alex', 'bob'}

In [ ]:
#@title Set Operations: Intersection &

set_x = set()
set_x.add('anna')
set_x.add('bindu')
set_x.add('chris')


set_y = set()
set_y.add('alex')
set_y.add('bob')
set_y.add('anna')


#printing those sets
print('set_x', set_x)
print('set_y', set_y)



# Intersection of two sets
print('\n\nIntersection of two sets  - you can intersect using a spcific "set"')
set_1 = set_x.intersection(set_y)
print('set_1', set_1)

# Intersection of two sets
print('\n\nIntersection of two sets  - using & operator')
set_1 = set_x & set_y
print('set_1', set_1)

set_x {'chris', 'anna', 'bindu'}
set_y {'bob', 'alex', 'anna'}


Intersection of two sets  - you can intersect using a spcific "set"
set_1 {'anna'}


Intersection of two sets  - using & operator
set_1 {'anna'}

In [ ]:
#@title Set Operations: Difference -

set_x = set()
set_x.add('anna')
set_x.add('bindu')
set_x.add('chris')


set_y = set()
set_y.add('alex')
set_y.add('bob')
set_y.add('anna')


#printing those sets
print('set_x', set_x)
print('set_y', set_y)


# Difference between two sets
print('\n\nDifference between two sets  - you can intersect using a generic "set"')
set_x_y = set.difference(set_x, set_y)
print('set_x_y', set_x_y)


# Difference between two sets
print('\n\nDifference between two sets  - you can intersect using a specific "set"')
set_x_y = set_x.difference(set_y)
print('set_x_y', set_x_y)


# Difference between two sets
print('\n\nDifference between two sets (x-y)  - Using minus (-) operator')
set_x_y = set_x - set_y
print('set_x_y', set_x_y)


# Difference between two sets
print('\n\nDifference between two sets (y-x)  - Using minus (-) operator')
set_y_x = set_y  - set_x
print('set_y_x', set_y_x)

set_x {'anna', 'chris', 'bindu'}
set_y {'anna', 'bob', 'alex'}


Difference between two sets  - you can intersect using a generic "set"
set_x_y {'bindu', 'chris'}


Difference between two sets  - you can intersect using a specific "set"
set_x_y {'bindu', 'chris'}


Difference between two sets (x-y)  - Using minus (-) operator
set_x_y {'bindu', 'chris'}


Difference between two sets (y-x)  - Using minus (-) operator
set_y_x {'bob', 'alex'}

In [ ]:
#@title Set Operations: Symmetric Difference ^

set_x = set()
set_x.add('anna')
set_x.add('bindu')
set_x.add('chris')


set_y = set()
set_y.add('alex')
set_y.add('bob')
set_y.add('anna')


#printing those sets
print('set_x', set_x)
print('set_y', set_y)



# Difference between two sets
print('\n\nSymmertri Difference between two sets  - you can do symmetric difference a specific "set"')
set_x_y = set_x.symmetric_difference(set_y)
print('set_x_y', set_x_y)


# Difference between two sets
print('\n\nSymmetric Difference between two sets (x-y)  - Using caret (^) operator')
set_x_y = set_x ^ set_y
print('set_x_y', set_x_y)

set_x {'anna', 'chris', 'bindu'}
set_y {'anna', 'bob', 'alex'}


Symmertri Difference between two sets  - you can do symmetric difference using a generic "set"
set_x_y {'bindu', 'bob', 'chris', 'alex'}


Symmertri Difference between two sets  - you can do symmetric difference a specific "set"
set_x_y {'bindu', 'bob', 'chris', 'alex'}


Symmetric Difference between two sets (x-y)  - Using caret (^) operator
set_x_y {'bindu', 'bob', 'chris', 'alex'}

In [ ]:
#@title Set operations: are two sets same?  == operator
set_x = set(['anna', 'bindu', 'chris'])
set_y = set(['alex', 'bob', 'anna'])
set_z = set(['bindu', 'anna', 'chris'])


#printing those sets
print('set_x', set_x)
print('set_y', set_y)
print('set_z', set_z)

print('set_x == set_y ', set_x == set_y)
print('set_x == set_z ', set_x == set_z)

set_x {'anna', 'chris', 'bindu'}
set_y {'anna', 'bob', 'alex'}
set_z {'bindu', 'chris', 'anna'}
set_x == set_y  False
set_x == set_z  True

In [ ]:
#@title Set operations: is X a superset of Y?  > operator
set_x = set(['anna', 'bindu', 'chris', 'diana'])
set_y = set(['anna', 'diana'])
set_z = set(['anna', 'fiona'])

#printing those sets
print('set_x', set_x)
print('set_y', set_y)
print('set_z', set_z)

print('set_x.issuperset(set_y) = ', set_x.issuperset(set_y))
print('set_x.issuperset(set_z) = ', set_x.issuperset(set_z))


print('set_x > set_y = ', set_x > set_y)
print('set_x > set_z = ', set_x > set_z)

set_x {'anna', 'diana', 'chris', 'bindu'}
set_y {'anna', 'diana'}
set_z {'anna', 'fiona'}
set_x.issuperset(set_y) =  True
set_x.issuperset(set_z) =  False
set_x > set_y =  True
set_x > set_z =  False

In [ ]:
#@title Set operations: is X a subset of Y? < operator
set_x = set(['anna', 'bindu'])
set_y = set(['anna', 'bindu', 'chris', 'diana'])
set_z = set(['anna', 'fiona'])

#printing those sets
print('set_x', set_x)
print('set_y', set_y)
print('set_z', set_z)

print('set_x.issubset(set_y) = ', set_x.issubset(set_y))
print('set_x.issubset(set_z) = ', set_x.issubset(set_z))

print('set_x < set_y = ', set_x < set_y)
print('set_x < set_z = ', set_x < set_z)

set_x {'anna', 'bindu'}
set_y {'anna', 'diana', 'chris', 'bindu'}
set_z {'anna', 'fiona'}
set_x.issubset(set_y) =  True
set_x.issubset(set_z) =  False
set_x < set_y =  True
set_x < set_z =  False

In [ ]:
#@title Set operations: are two sets disjoint?
set_x = set(['anna', 'bindu', 'chris'])
set_y = set(['alex', 'bob', 'anna'])
set_z = set(['zack', 'xavier', 'yulin'])


#printing those sets
print('set_x', set_x)
print('set_y', set_y)
print('set_z', set_z)

print('set_x.isdisjoint(set_y) = ', set_x.isdisjoint(set_y))
print('set_x.isdisjoint(set_z) = ', set_x.isdisjoint(set_z))

set_x {'anna', 'chris', 'bindu'}
set_y {'anna', 'bob', 'alex'}
set_z {'yulin', 'zack', 'xavier'}
set_x.isdisjoint(set_y) =  False
set_x.isdisjoint(set_z) =  True

In [ ]:
#@title Set Operations with update  (not common)
set_x = set()
set_x.add('anna')
set_x.add('bindu')
set_x.add('chris')


set_y = set()
set_y.add('alex')
set_y.add('bob')
set_y.add('anna')


#printing those sets
print('set_x', set_x)
print('set_y', set_y)

set_x.difference_update(set_y)
print('set_x.difference_update(set_y)', set_x)

set_x = set(['anna', 'bindu', 'chris'])
set_x.symmetric_difference_update(set_y)
print('set_x.symmetric_difference_update(set_y)', set_x)


set_x = set(['anna', 'bindu', 'chris'])
set_x.intersection_update(set_y)
print('set_x.intersection_update(set_y)', set_x)

set_x {'anna', 'chris', 'bindu'}
set_y {'anna', 'bob', 'alex'}
set_x.difference_update(set_y) {'chris', 'bindu'}
set_x.symmetric_difference_update(set_y) {'chris', 'alex', 'bindu', 'bob'}
set_x.intersection_update(set_y) {'anna'}

set_x =  {'anna', 'chris', 'bindu'}
set_x after clear() =  set()

Checking for membership - in
is chris in the set? =  True
is siva in the set? =  False

Checking for membership - not in (inverse of in)
is anna not in the set? =  False
is bob not in the set? =  True

In [ ]:
#@title Cool Oneliners #1

# define a function that returns True if the list contains duplicates
def contains_duplicates(input_list):
  return (len(input_list) != len(set(input_list)))

#
print('contains_duplicates([3,4,5,6] = ', contains_duplicates([3,4,5,6]) )
print('contains_duplicates([3,4,5,6, 4] = ', contains_duplicates([3,4,5,6, 4]))

contains_duplicates([3,4,5,6] =  False
contains_duplicates([3,4,5,6, 4] =  True

In [ ]:
#@title Cool Oneliners #2

# Given two lists of hobbies, define a function that returns the list of common hobbies
def common_hobbies(h1, h2):
  return list(set(h1) & set(h2))
#
hobbies_1 = ['reading', 'movies', 'travel', 'comedy']
hobbies_2 = ['ethnic foods',  'movies', 'comedy', 'hiking']


print('common_hobbies = ', common_hobbies(hobbies_1, hobbies_2) )

common_hobbies =  ['movies', 'comedy']

In [ ]:
#@title Tricky Snippet: Why is this giving an error?
#Hint: The elements of the set MUST be immutable.

list_1 = [1,2,3]
list_2 = [2,3,1]

set_x = set()
set_x.add(list_1)
set_x.add(list_2)
print(set_x)

TypeError: ignored

In [ ]:
#@title Tricky Snippet: Why is this not giving an error?
#Hint: The elements of the set MUST be immutable.
tuple_1 = (1,2,3)
tuple_2 = (2,3,1)

set_x = set()
set_x.add(tuple_1)
set_x.add(tuple_2)
print(set_x)

{(2, 3, 1), (1, 2, 3)}

In [ ]:
#@title Python Quizzes on Sets  (Try it on your own)

https://pynative.com/python-set-quiz/

https://realpython.com/quizzes/python-sets/

In [ ]:
x = {4,5,6}
y = {5,6,7}

print( (x&y) < y)

{5, 6}
True

# Sets: Programming Exercises (Case Studies)

**1. Intersection of two sets:** Let's say you have a database of customers who have purchased products in the past week and another database of customers who have visited your website in the past week. You can use the intersection of the two sets to find out which customers have both made a purchase and visited your website.

**2. Removing duplicates from a list using sets:** Let's say you have a list of email addresses from customers who have signed up for your newsletter, but some of the addresses are duplicated. You can use a set to remove the duplicates and ensure that each customer only receives your newsletter once.

**3. Finding unique values in a list of dictionaries:** Let's say you have a list of dictionaries containing data about your customers, including their names, email addresses, and phone numbers. You can use sets to find out which unique email addresses or phone numbers are in the list, which can help you identify customers who may be using multiple email addresses or phone numbers.

**4. Checking for similarities in two sets of data:** Let's say you have a database of customers who have purchased products from your store and another database of customers who have returned products. You can use sets to find out which customers appear in both databases, which can help you identify potential issues with your products.

**5. Union of two sets:** Let's say you have a list of customers who have purchased products from your store and another list of customers who have signed up for your newsletter. You can use the union of the two sets to create a single list of all customers who have interacted with your brand in some way.

**6. Checking for subsets:** Let's say you have a database of customers who have made purchases from your store in the past month and another database of customers who have made purchases in the past week. You can use sets to check if the set of customers who made purchases in the past week is a subset of the set of customers who made purchases in the past month.

**7. Finding the difference between two sets:** Let's say you have a list of customers who have signed up for your newsletter and another list of customers who have unsubscribed from your newsletter. You can use the difference between the two sets to find out which customers are still subscribed to your newsletter.

**8. Finding the symmetric difference between two sets:** Let's say you have a list of customers who have purchased products from your store in the past month and another list of customers who have purchased products in the past week. You can use the symmetric difference between the two sets to find out which customers made a purchase in either the past week or the past month, but not both.

**9. Checking for disjoint sets:** Let's say you have a list of customers who have purchased products from your store and another list of customers who have never made a purchase. You can use sets to check if the two lists are disjoint, which can help you identify potential customers who have not yet made a purchase.

**10. Finding the intersection of multiple sets**: Let's say you have a list of customers who have made purchases in the past week, another list of customers who have made purchases in the past month, and a third list of customers who have made purchases in the past year. You can use the intersection of all three sets to find out which customers have made a purchase in each time period.

In [ ]:
#@title 2.Remove duplicates from a list using sets

# Verstion 1.0 Using brute force approach (list - traversal)
# my_list = [1, 3, 1, 4, 3]

# new_list = []
# for elem in my_list:
#   if elem not in new_list:
#     new_list.append(elem)

# # print the lists
# print('Original List: ', my_list)
# print('New List: ', new_list)



# Verstion 2.0 Using sets
my_list = [1, 3, 1, 4, 3]
new_list = list(set(my_list))
print('Original List: ', my_list)
print('New List: ', new_list)

Original List:  [1, 3, 1, 4, 3]
New List:  [1, 3, 4]

In [ ]:
#@title 5. Union of two sets (or two lists)

#Version 1.0  using the list traversal
list_1 = [1, 3, 4, 4]
list_2 = [3, 4, 5, 5]
#union_list = [1, 3, 4, 5]  # How do we get this union_list?

union_list = []
for elem in list_1:
  if elem not in union_list:
    union_list.append(elem)

for elem in list_2:
  if elem not in union_list:
    union_list.append(elem)

# print the lists
print('List 1: ', list_1)
print('List 2: ', list_2)
print('Union: ', union_list)



#Version 2.0  using the sets
list_1 = [1, 3, 4, 4]
list_2 = [3, 4, 5, 5]

union_list = list(set(list_1 + list_2))
print('List 1: ', list_1)
print('List 2: ', list_2)
print('Union: ', union_list)

List 1:  [1, 3, 4, 4]
List 2:  [3, 4, 5, 5]
Union:  [1, 3, 4, 5]
List 1:  [1, 3, 4, 4]
List 2:  [3, 4, 5, 5]
Union:  [1, 3, 4, 5]